<div class="actor-option __guru" {{action "clickOption"}} >
 {{!-- {{input type="checkbox"
  class="__guru"
          id=option.id
         checked=option.checked
          change=(action "clickCheckBox")
  }} --}}
  <div class="__guru">
    <i class='figure-{{option.type}} __guru'></i>
    {{#if  option.country}}
      &nbsp;
      <span class="country-flag">
        {{world-flag option.country 16}}
      </span>
    {{/if}}
    {{option.name}}
  </div>
</div>