<div id="box-details-card" class="infobox {{graphElementType}}">
    <div class="close" {{action "close" on="click"}}>
      {{fa-icon 'close' size=1}}
    </div>
    {{#if cluster}}
        <h5>cluster of {{model.type}}s</h5>
      {{#each model as |node|}}
            <span class="figure-supplier"></span>
            {{node.label}}
      {{/each}}
    {{else}}
      {{#if (eq graphElementType "node")}}

        <h5>{{model.type}}</h5>
          <div class="actor"><span class="figure-{{class}}"></span> {{model.label}}</div>
        <hr>
        {{#each-in model.flags as |keyValue value|}}
            <div class="flags">
                <div class="flag">
                    {{fa-icon 'flag' size=1}} {{keyValue}}
                </div>
            </div>
        {{/each-in}}

        <table class="spec">
          <tr>
            <td class="value">{{format-amount model.value '0,0[.]00 a'}}</td>
            <td class="label">Total money flow</td>
          </tr>
          <tr>
            <td class="value">{{format-amount model.average_competition}}</td>
            <td class="label">Average competitors in contracts</td>
          </tr>
        </table>
        <div class="action">
            {{#link-to "network.show.details.show" model.route model.link class="btn-tiny transparent primary"}}
              Show details
            {{/link-to}}
        </div>
      {{/if}}

  {{#if (eq graphElementType "edge")}}
    <h5>Relationship</h5>

    <div class="actor"><span class="figure-supplier"></span> {{model.fromLabel}}</div>
    <div class="actor"><span class="figure-procurer"></span> {{model.toLabel}}</div>
      <hr>
    {{#each-in model.flags as |keyValue value|}}
        <div class="flags">
            <div class="flag">{{fa-icon 'flag' size=1}} {{keyValue}}</div>
        </div>
    {{/each-in}}

    <table class="spec">
        <tr>
            <td class="value">{{format-amount model.value '0,0 a'}}</td>
            <td class="label">{{model.valueType}}</td>
        </tr>
    </table>
    <div class="action">
        {{#link-to "network.show.details.show" model.route model.link class="btn-tiny transparent primary"}}
            Show details
        {{/link-to}}
    </div>

  {{/if}}

    {{/if}}
</div>
