<div id="box-details-card" class="infobox {{graphElementType}}">
    <div class="close" {{action "close" on="click"}}>
      {{fa-icon 'close' size=1}}
    </div>
    {{#if cluster}}
        <h5>cluster of {{model.nodeType}}s</h5>
      {{#each model as |node|}}
            <span class="figure-bidder"></span>
            {{node.label}}
      {{/each}}
    {{else}}
      {{#if (eq graphElementType "node")}}

        <h5>{{model.nodeType}}</h5>
          <div class="actor"><span class="figure-{{class}}"></span> {{model.label}}</div>
        <hr>
        {{#each-in model.flags as |keyValue value|}}
            <div class="flags">
                <div class="flag">
                    {{fa-icon 'flag' size=1}} {{keyValue}}
                </div>
            </div>
        {{/each-in}}

        <table class="spec">
          <tr>

            <td class="value">{{format-amount model.value '0,0[.]00 a'}}</td>
            <td class="label">
              {{#if (eq networkModel.settings.nodeSize "numberOfWinningBids")}}
                {{#if (eq class "buyer")}}
                  Awarded bids
                {{else}}
                  Bids won
                {{/if}}

              {{else}}
                Total money flow
              {{/if}}
            </td>
          </tr>
          <tr>
            <td class="value">{{model.medianCompetition}}</td>
            <td class="label">Average competitors in contracts</td>
          </tr>
        </table>
        <div class="action">
            {{#link-to "network.show.details.show" model.route model.link class="btn-tiny transparent primary" invokeAction="close"}}
              Show details
            {{/link-to}}
        </div>
      {{/if}}

  {{#if (eq graphElementType "edge")}}
    {{#if (eq model.type "contracts")}}
      <h5>Tender</h5>

      <div class="actor"><span class="figure-buyer"></span> {{model.fromLabel}}</div>
      <div class="actor"><span class="figure-bidder"></span> {{model.toLabel}}</div>
        <hr>
      {{#each-in model.flags as |keyValue value|}}
          <div class="flags">
              <div class="flag">{{fa-icon 'flag' size=1}} {{keyValue}}</div>
          </div>
      {{/each-in}}

      <table class="spec">
          <tr>
              <td class="value">{{format-amount model.value '0,0 a'}}</td>
              <td class="label">
                {{#if (eq networkModel.settings.edgeSize "numberOfWinningBids" "count")}}
                  Bids won
                {{else}}
                  Total money flow
                {{/if}}
              </td>
          </tr>
      </table>
      <div class="action">
          {{#link-to "network.show.details.show" model.route model.link class="btn-tiny transparent primary" invokeAction="close"}}
              Show details
          {{/link-to}}
      </div>
    {{else}}
      {{!-- if model.type = partners--}}
      <h5>Consortia</h5>

      <div class="actor"><span class="figure-{{model.fromType}}"></span> {{model.fromLabel}}</div>
      <div class="actor"><span class="figure-{{model.toType}}"></span> {{model.toLabel}}</div>
      <hr>
      {{#each-in model.flags as |keyValue value|}}
        <div class="flags">
          <div class="flag">{{fa-icon 'flag' size=1}} {{keyValue}}</div>
        </div>
      {{/each-in}}

      <table class="spec">
        <tr>
          <td class="value">{{format-amount model.value '0,0 a'}}</td>
          <td class="label">
            {{#if (eq networkModel.settings.edgeSize "numberOfWinningBids" "count")}}
              Shared bids won
            {{else}}
              Shared money flow
            {{/if}}
          </td>
        </tr>
      </table>
      {{!-- if model.type = contracts--}}
    {{/if}}

  {{!--end if (eq graphElementType "edge")--}}
  {{/if}}

  {{!--end if cluster--}}
  {{/if}}
</div>
