<div id="box-details-card" class="row">
    <div class="close" {{action "close" on="click"}}>
      {{fa-icon 'close' size=1}}
    </div>
    <div class="row">
      <div class="el-label fs0">
        <span class="{{color}}">
          {{fa-icon 'circle' size=1}}
        </span>
        {{nodeDetails.type}}
      </div>

      <div class="co-name fs3">{{nodeDetails.label}}</div>
      {{#each-in nodeDetails.flags as |keyValue value|}}
        <div class="flags">{{fa-icon 'flag' size=1}}{{keyValue}}</div>
      {{/each-in}}
    </div>
    <div class="row" style="margin-bottom: 0px">
      <div class="col s6 left-align">
        <div class="el-label fs0">Total flow</div>
        <div class="el-title fs5">{{nodeDetails.value}}</div>
      </div>
      <div class="col s6 left-align" >
        <div class="el-label fs0">Competition</div>
        <div class="el-title fs5">1.1</div>
      </div>
    </div>
</div>