<td class="title">
  {{#link-to "network.show.details.contract" route nodeId row.tenderId}}
    {{fa-icon 'file-text' size=1}}
    {{row.title}}
  {{/link-to}}
</td>
<td class="buyers">
  <span class="figure-buyer small"></span>
  {{#each row.buyers as |buyer|}}
    {{#link-to "network.show.details.show" "buyers" buyer.nodeID}}
      {{buyer.name}}
    {{/link-to}}
    <br>
  {{/each}}
  <br>
</td>
<td class="bids">{{row.bids}}</td>
<td class="value">{{format-amount row.value '0,0.00'}} €</td>