<td class="name">
  {{#link-to "network.show.details.contract" route nodeId row.id}}
    {{fa-icon 'file-text' size=1}}
    {{row.award.title}}
  {{/link-to}}
</td>
<td class="buyer">
  <span class="figure-procurer small"></span>
  {{#link-to "network.show.details.show" "procurers" row.procuring_entity.x_slug_id}}
    {{row.procuring_entity.name}}
  {{/link-to}}
  <br>
  <br>
</td>
<td class="bids">{{row.number_of_tenderers}}</td>
<td class="award">{{format-amount row.award.value.x_amount_eur '0,0.00'}} €</td>