<td class="title">
  <a href="{{row.source}}">
    {{fa-icon 'file-text' size=1}}
    {{row.title}}
  </a>
</td>
<td class="buyers">
  <span class="figure-buyer small"></span>
  {{#each row.buyers as |buyer|}}
    {{#link-to "network.show.details.show" "buyers" buyer.nodeID}}
      {{buyer.name}}
    {{/link-to}}
    <br>
  {{/each}}
  <br>
</td>
<td class="bids">{{row.bids}}</td>
<td class="year">
  {{#if row.xYearApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
       <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{row.year}}
</td>
<td class="value">
  {{#if row.xAmountApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
      <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{format-amount row.value '0,0.00'}} €
</td>