<td class="title">
  <a href="#" target="_blank" {{action "redirectLink" row.source}}>
    {{fa-icon 'file-text' size=1}}
    {{row.title}}</a>
  &nbsp;{{fa-icon 'external-link' click=(action "redirectLink" row.source)}}
</td>
<td class="buyer">
  <span class="figure-bidder small"></span>
  {{#each row.bidders as |bidder|}}
    {{#link-to "network.show.details.show" "bidders" bidder.nodeID}}
      {{bidder.name}}
    {{/link-to}}
    <br>
  {{/each}}
  <br>
</td>
{{#if (eq row.bids 1)}}
  <td class="bids"><span class="red-bids">{{row.bids}}</span></td>
{{else}}
  <td class="bids">{{row.bids}}</td>
{{/if}}
<td class="year">
  {{#if row.xYearApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
      <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{row.year}}
</td>
<td class="flags">
  {{#if row.flagsCount}}
    <span class="flags-icon">{{fa-icon 'flag' size=1}}</span>
    x
    <span class="flags-count">
      {{row.flagsCount}}
      {{#tooltip-on-element class="flags-tooltip" event='click' enableLazyRendering=true side='top'}}
        <h5>Red flags</h5>
        <ul>
          {{#each row.flagsNames as |flagName|}}
            <li>
            {{fa-icon "flag" size=1}} {{flagName}}
          </li>
          {{/each}}
        </ul>
        <a href="/helloimelvis" target="_blank">Read more</a>
      {{/tooltip-on-element}}
    </span>
  {{/if}}
</td>
<td class="value">
  {{#if row.xAmountApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
      <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{format-amount row.value '0,0.00'}} €
</td>