<td class="contract">
  {{#link-to "network.show.details.contract" route nodeId row.lot.tender.id}}
    {{fa-icon 'file-text' size=1}}
    {{row.lot.tender.title}}
    {{#if row.lot.title}}
      - {{row.lot.title}}
    {{/if}}
  {{/link-to}}
</td>
<td class="date">{{format-empty row.lot.awardDecisionDate}}</td>
<td class="bids">{{row.lot.bidsCount}}</td>
<td class="award">{{format-amount row.lot.tender.finalValue '0,0.00'}} €</td>
