<td class="title">
  <a href="#" target="_blank" {{action "redirectLink" row.source}}>
    {{fa-icon 'file-text' size=1}}
    {{row.title}}
  </a>
</td>
<td class="date">{{format-empty row.date}}</td>
<td class="bids">{{row.bids}}</td>
<td class="year">
  {{#if row.xYearApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
      <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{row.year}}
</td>
<td class="value">
  {{#if row.xAmountApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
      <div class="tooltip">
         This value was deduced from the context by our team. You can consult the source by clicking on the contract title.
       </div>
    </span>
  {{/if}}
  {{format-amount row.value '0,0.00'}} €
</td>
