<td class="title">
  <a href="{{row.source}}">
    {{fa-icon 'file-text' size=1}}
    {{row.title}}
  </a>
</td>
<td class="buyers">
  <span class="figure-buyer small"></span>
  {{#each row.buyers as |buyer|}}
    {{#link-to "network.show.details.show" "buyers" buyer.nodeID}}
      {{buyer.name}}
    {{/link-to}}
    <br>
  {{/each}}
  <br>
</td>
<td class="bids">{{row.bids}}</td>
<td class="year">
  {{#unless row.xYearApproximated}}
    <span class="btn-tooltip">
      {{fa-icon 'exclamation-triangle' size=1}}
       <div class="tooltip"> text explicativ</div>
    </span>
  {{/unless}}
  {{row.year}}
</td>
<td class="value">
  {{#unless row.xAmountApproximated}}
    {{fa-icon 'exclamation-triangle' size=1}}
  {{/unless}}
  {{format-amount row.value '0,0.00'}} €
</td>