<div id="cpv-container" class="mainbg">
  <br> <br>
  <div class="row-collapse">
    <div class="col s1">&nbsp;</div>
    <div class="col s8 cpv-table-container">
      <div class="search">
        {{input type="text" placeholder="Search" class="search-input form-control" value=searchTerm}}
      </div>

      <div class="cpv-tree">
        <div class="jstree-default-dark-small">
          {{ember-jstree
              data=cpvs
              plugins=config.plugins
              themes=config.core.themes
              selectedNodes=selectedCodes
              searchOptions=config.searchOptions
              searchTerm=searchTerm
              actionReceiver=jsTree
          }}
        </div>

      </div>
    </div>
    <div class="col s3 cpv-info-container">
      <div class="row-collapse">
        <div class="col s12">
          {{#if selectedCodes}}
            <h4>Selected codes:</h4>
          {{/if}}
          <br><br>
          <div class="cpv-selector-selected-codes-container">
            {{#if refresh}}
              {{#each selectedCodes as |selected|}}
                {{#cpv-chip
                   cid=selected.id
                   unique='selector'
                   title=selected.title
                   selectedCodes=selectedCodes
                   jsTree=jsTree
                }}
                  <b>{{selected.id}}</b><br>
                  {{selected.original.name}}<br>
                  <i class="grey-text darken-1">{{selected.original.doc_count}} documents</i>
                {{/cpv-chip}}
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row-collapse">
        <div class="col s3">&nbsp;</div>
        <div class="col s6">
        </div>
        <div class="col s3">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row-collapse">
    <div class="col s12">
      <br> <br> <br>
      {{#md-btn action="toggleModal" class="cpv-ok-button"}}
        OK
      {{/md-btn}}
    </div>
  </div>
</div>
