<li id="chip-{{id}}-{{unique}}">
  <i class="material-icons">{{fa-icon 'close'}}</i>
  <span  class="details">
    <small>{{cid}} ( {{doc_count}} / {{count}} )</small>
    <br>
    <div> {{name}}</div>
  </span>
</li>

