{{#data-table content=content sort=sort page=page as |t|}}
{{!--
{{#t.menu as |menu|}}
  {{#menu.general}}
    <a {{action 'export'}}>Export</a>
    <a>Print</a>
  {{/menu.general}}
  {{#menu.selected as |selection|}}
    <a {{action 'selectRow' selection}}>Delete</a>
  {{/menu.selected}}
{{/t.menu}}
--}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name field|}}
        {{#if field.sort}}
          {{th-sortable
              field=name
              currentSorting=sort
              label=field.label
              class=name
          }}
        {{else}}
          <th class="{{name}}">{{field.label}}</th>
        {{/if}}
      {{/each-in}}
    {{/c.header}}


      {{#if loadingContracts}}
        <tbody class="loadingContracts">
        <tr>
          <td colspan="5">
            {{elvis-loader  message="Loading contracts"}}
          </td>
        </tr>
        </tbody>
      {{else}}
        {{#c.body as |row|}}
          {{component componentTable route=route nodeId=nodeId row=row}}
        {{/c.body}}
      {{/if}}



  {{/t.content}}
{{/data-table}}
