<div class="relative">
  {{input
      type="text"
      placeholder=searchLabel
      class="search-input"
      value=search
  }}
  <span class="absolute searchIcon" {{action "searchTable" on="click"}}>
    {{fa-icon 'search' size=1}}
  </span>

</div>
{{#data-table content=content sort=sort page=page as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name label|}}
        {{elvis-th-sortable
            field=name
            currentSorting=sort
            label=label
            class=name
            search=search
            action="searchColumn"
        }}
      {{/each-in}}
    {{/c.header}}
    {{#perfect-scroll scrollTop=100 includePadding=true suppressScrollX=true}}

      {{#each content as |row|}}
        <tr class="{{if row.isSelected 'selected'}}">
        {{#link-to "network.show.details.show" route row.link}}
        {{#each-in fields as |name label|}}
          <td class="{{if row.cluster (concat 'cluster ' name) name}}" >
            {{#if (eq name "flags")}}
              {{#if (gt row.flagsCount 0)}}
                  <span class="flags">
                    {{#if (gt row.flagsCount 3)}}
                      {{row.flagsCount}}
                    {{/if}}
                    {{fa-icon 'flag' size=1}}

                    {{#tooltip-on-element enableLazyRendering=true}}
                      {{#each-in row.flags as |flName flValue|}}
                        <div class="flag-details">
                          <div class="flag-name">{{flName}}</div>
                          <div class="flag-value">{{flValue}}</div>
                        </div>
                      {{/each-in}}
                    {{/tooltip-on-element}}
                  </span>
               {{/if}}
            {{else}}
                {{dd row name}}
            {{/if}}
          </td>
        {{/each-in}}
          <!--<td class="absolute controls">something</td>-->
        {{/link-to}}
          <td class="absolute  toggle-controls" {{action "selectRow" row on="click"}}>
              {{fa-icon 'dot-circle-o' size=1}}
          </td>
        </tr>
      {{/each}}

    {{/perfect-scroll}}
  {{/t.content}}
{{/data-table}}
