<div class="menu-container {{dropMenu}}">
<nav id="main-navbar" class="navbar navbar-fixed">
    <div class="nav-wrapper">
		    {{#link-to 'application' class="brand-logo"}}
            <img alt="ELVIS - public spending visualisation tool" height="80" src="images/elvis-logo-white.png"/>
		    {{/link-to}}
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="center hide-on-med-and-down">
            <li>
				        {{#link-to 'network.new' class=""}}
                    <span>New visualisation</span>
				        {{/link-to}}
            </li>
            <li> {{link-to 'About' 'static' 'about'}} </li>
            <li> {{link-to 'Gallery' 'static' 'gallery'}} </li>
            <li><a href="https://talk.tenders.exposed/" target="_blank">Community</a></li>
        </ul>
        <div class="right hide-on-med-and-down">
		        {{#if session.isAuthenticated}}
				        <ul class="user-nav">
						        <li>
						        {{#link-to 'network.list' class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip"}}
								        <i class="fa fa-th"></i>
								        <span>My Projects</span>
						        {{/link-to}}
                    </li>
						        <li>
						        {{#link-to 'account.settings' class=""}}
								        <i class="fa fa-cog"></i>
		                    <span>Settings</span>
						        {{/link-to}}
                    </li>
						        <li>
		                <a {{action 'invalidateSession'}} class="">
				                <i class="fa fa-power-off"></i>
		                    <span class="sr-only">Log Out</span>
		                </a>
                    </li>
				        </ul>
		        {{else}}
		            {{#link-to 'welcome.login' class="btn link"}} Login {{/link-to}}
		            {{#link-to 'account.new' class="btn transparent"}} Register {{/link-to}}
		        {{/if}}
        </div>
        <ul id="mobile-nav" class="side-nav">
            <li> {{link-to 'About' 'static' 'about'}} </li>
            <li> {{link-to 'Gallery' 'static' 'gallery'}} </li>
            <li><a href="https://talk.tenders.exposed/" target="_blank">Community</a></li>
            <li>
						    {{#link-to 'network.new'}}
                    <i class="fa fa-plus"></i>
                    <span>New visualisation</span>
						    {{/link-to}}
            </li>
            <li>
						    {{#link-to 'network.list' class=""}}
                    <i class="fa fa-th"></i>
                    <span>My Projects</span>
						    {{/link-to}}
            </li>
            <li>
						    {{#link-to 'account.settings' class=""}}
                    <i class="fa fa-user"></i>
                    <span>Account Settings</span>
						    {{/link-to}}
            </li>
            <li>
                <a {{action 'invalidateSession'}} class="">
                    <i class="fa fa-power-off"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="menu-container hide">

  <div id="main-navbar" class="navbar-fixed ">
      <!-- Dropdown Structure -->
      {{#if session.isAuthenticated}}
      <ul id="dropdown1" class="dropdown-content">
        {{#link-to 'network.list' tagName='li'}}
          {{#link-to 'network.list'}}
            My projects
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'account.settings' tagName='li'}}
          {{#link-to 'account.settings'}}
            Account Settings
          {{/link-to}}
        {{/link-to}}
        <li><a {{action 'invalidateSession'}}>Log out</a></li>
      </ul>
      {{/if}}

      <nav class="mainbg main-nav lighten-4">
        <div class="nav-wrapper">
          <div class="container">
            <div class="row">
              <div class="col s12">
                {{#link-to 'application' class="left logo-container"}}
                  <img alt="Logo" class="logo" src="/images/elvis-logo-light.png"/>
                {{/link-to}}

                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down main-menu">
                  <!--left links-->
                  <li> {{link-to 'About' 'static' 'about'}} </li>
                  <li><a href="https://talk.tenders.exposed/" target="_blank">Community</a></li>
                </ul>
                <ul class="right hide-on-med-and-down main-menu">
                  {{#link-to 'network.new' tagName='li'}}
                    {{#link-to 'network.new'}} New visualisation {{/link-to}}
                  {{/link-to}}
                  {{#if session.isAuthenticated}}
                  <!-- Dropdown Trigger -->
                  <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                      Account<i class="material-icons right">arrow_drop_down</i>
                    </a>
                  </li>
                  {{else}}
                    {{#link-to 'welcome.login' tagName='li'}}
                      {{#link-to 'welcome.login' class="slash-after"}} Sign in {{/link-to}}
                    {{/link-to}}
                    {{#link-to 'account.new' tagName='li'}}
                      {{#link-to 'account.new'}} Sign up {{/link-to}}
                    {{/link-to}}
                  {{/if}}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  {{#link-to 'network.new' tagName='li'}}
                    {{#link-to 'network.new'}}
                      {{fa-icon "snowflake-o" class="left" }} New visualisation
                    {{/link-to}}
                  {{/link-to}}
                  {{#if session.isAuthenticated}}
                    {{#link-to 'network.list' tagName='li'}}
                      {{#link-to 'network.list'}}
                        {{fa-icon "folder-open" class="left"}} My projects
                      {{/link-to}}
                    {{/link-to}}

                    {{#link-to 'account.settings' tagName='li'}}
                      {{#link-to 'account.settings'}}
                        {{fa-icon "cogs" class="left"}} Account Settings
                      {{/link-to}}
                    {{/link-to}}
                    <li>
                      <a {{action 'invalidateSession'}}>
                        {{fa-icon "power-off" class="left" }} Log out
                      </a>
                    </li>
                  {{/if}}
                  <li><a href="/about">{{fa-icon "question-circle" class="left"}} About</a></li>
                  <li><a href="https://talk.tenders.exposed/" target="_blank">{{fa-icon "group" class="left"}}Community</a></li>
                  <li><a href="https://tenders.exposed/blog" target="_blank">{{fa-icon "server" class="left"}} Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
	</div>

  <div class="toggleMenu">
    <div class="container">
      <div class="row">
        <a class="handle" {{action "toggleMenu"}}>
          <span class="down-arrow">{{fa-icon "arrow-circle-down"}}</span>
          <span class="up-arrow">{{fa-icon "arrow-circle-up"}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
