
<div class="data-table-filter row">
    <a class="order asc col s1" onclick={{action "changeSortOrder"}}>
      {{fa-icon 'sort-amount-desc'}}
    </a>

    <div class="input-field sortby col s11">
      <select onchange={{action "sortTable" value="target.value"}}>
        <option value="" disabled selected>Sort by...</option>
        {{#each-in fields as |name label|}}
          <option value="{{name}}" selected={{eq sortBy name}}>{{label}}</option>
        {{/each-in}}

      </select>
    </div>
</div>

{{#data-table content=content sort=sort page=page as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name label|}}
        {{elvis-th-sortable
            field=name
            currentSorting=sort
            label=label
            class=name
            search=search
            action="searchColumn"
        }}
      {{/each-in}}
    {{/c.header}}


    {{#ember-scrollable}}

      {{#each content as |row|}}
        <tr class="{{if row.isSelected 'selected'}}">
            <td class="{{if row.cluster (concat 'cluster ' name) name}} item-figure">
              {{#if row.isCluster}}
                <span class="containedNodes">
                  {{row.containedNodesCount}}
                </span>
              {{/if}}
              <figure>
	              <small>{{format-amount row.value "0,0[.]a" '?'}}</small>
                <a class="item-zoom-to" {{action "selectRow" row on="click"}}>
                  {{fa-icon 'crosshairs'}}
                </a>
              </figure>
            </td>

	          <td class="item-name">
              {{#link-to "network.show.details.show" route row.link}}
                {{!-- relationships --}}
                {{#if row.toLabel}}
                  {{#link-to "network.show.details.show" route row.link}}
                    <small class="item-entity"><span class="figure-procurer"></span>&nbsp;{{row.toLabel}}</small><br>
                    <small class="item-entity"><span class="figure-supplier"></span>&nbsp;{{row.fromLabel}}</small>
                  {{/link-to}}
                {{/if}}
                {{!-- procurers / suppliers --}}
                {{#if row.label}}
                  {{#link-to "network.show.details.show" route row.link}}
                    {{row.label}}<br>
                    <small class="item-id">{{row.id}}</small>
                  {{/link-to}}
                {{/if}}
              {{/link-to}}
            </td>

           <!-- <td class="item-flags">
              {{#link-to "network.show.details.show" route row.link}}
                {{#if (gt row.flagsCount 0)}}
                    <span class="flags">
                      {{#if (gt row.flagsCount 3)}}
                        {{row.flagsCount}}
                      {{/if}}
                      {{fa-icon 'flag'}}

                      {{#tooltip-on-element enableLazyRendering=true}}
                        {{#each-in row.flags as |flName flValue|}}
                            <div class="flag-details">
                                <div class="flag-name">{{flName}}</div>
                                <div class="flag-value">{{flValue}}</div>
                            </div>
                        {{/each-in}}
                      {{/tooltip-on-element}}
                    </span>
                {{/if}}
              {{/link-to}}
    				</td>-->
          </tr>
        {{/each}}

    {{/ember-scrollable}}
  {{/t.content}}
{{/data-table}}
