<!-- new navbar -->
<nav class="navbar navbar-fixed open">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li>
          {{#link-to 'application' class="brand-logo"}}
            <img alt="ELVIS - public spending visualisation tool" height="60" src="images/elvis-logo-white.png"/>
          {{/link-to}}
          </li>
            <li>
				        {{#link-to 'network.new'}} Create a network {{/link-to}}
            </li>
            <li> {{link-to 'About' 'about'}} </li>
            {{!--<li> {{link-to 'Gallery' 'gallery'}} </li>--}}
            <li><a href="https://talk.tenders.exposed/" target="_blank">Community</a></li>
        </ul>
        <div class="right hide-on-med-and-down">
		        {{#if session.isAuthenticated}}
				        <ul class="user-nav">
						        <li>
						        {{#link-to 'network.list' class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip"}}
								        <i class="fa fa-th"></i>
								        <span>My Projects</span>
								        {{#tooltip-on-component enableLazyRendering=true side='bottom'}}
                            My Projects
								        {{/tooltip-on-component}}
						        {{/link-to}}
                    </li>
						        <li>
				                <a {{action 'invalidateSession'}} id="navbarLogout">
						                <i class="fa fa-power-off"></i>
				                    <span class="sr-only">Log Out</span>
				                </a>
								        {{#tooltip-on-component enableLazyRendering=true side='bottom' target='#navbarLogout'}}
                            Log Out
								        {{/tooltip-on-component}}
                    </li>
				        </ul>
		        {{else}}
              <div class="right">
                <a class="btn link" href="#" {{action 'toggleLoginModal'}}>Login / Register</a>
              </div>
		        {{/if}}
        </div>
    </div>
    <ul id="mobile-nav" class="side-nav">
        <li> {{link-to 'About' 'about'}} </li>
        {{!--<li> {{link-to 'Gallery' 'gallery'}} </li>--}}
        <li><a href="https://talk.tenders.exposed/" target="_blank">Community</a></li>
        <li>
          {{#link-to 'network.new'}}
              <i class="fa fa-plus"></i>
              <span>New visualisation</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'network.list' class=""}}
              <i class="fa fa-th"></i>
              <span>My Projects</span>
          {{/link-to}}
        </li>
        <li>
            <a {{action 'invalidateSession'}} class="">
                <i class="fa fa-power-off"></i>
                <span>Log Out</span>
            </a>
        </li>
    </ul>
</nav>

{{#if loginVisible}}
    {{#md-modal}}
      <a class="modal-close" {{action 'toggleLoginModal'}}><i class="fa fa-times"></i></a>
      <div class="modal-content">
        {{login-form loginVisible=loginVisible}}
      </div>
    {{/md-modal}}
{{/if}}
