<div class="embfer-select-guru__container">
  <div class="{{if isExpanded 'ember-select-guru__trigger guru__trigger-expanded' 'ember-select-guru__trigger '}}" {{action "expandComponent"}}>
    {{#if hasValue}}
      {{#if multiple}}
        {{#if countActors}}
          <div class="count-actors">{{countActors}} actors selected</div>
        {{/if}}
        <!--ul selected-->

      {{else}}
        {{component singleValueComponent value=value}}
      {{/if}}
    {{else}}

      {{placeholder}}
    {{/if}}
  </div>

  {{#if isExpanded}}
    {{#elvis-select-dropdown name=name visible=isExpanded willHideDropdown="willHideDropdown" }}
      <div class='ember-select-guru__search-wrapper'>
        {{input placeholder=searchPlaceholder value=queryTerm class='ember-select-guru__search'}}
      </div>
      <!--@todo: add checkbox to select all actors-->
      <!--<div class="switch-select_all-options">
        <label>
          <input type="checkbox" class="filled-in" checked="checked" />
          <span>Red</span>
        </label>
      </div>-->
      <div class="options-wrapper"  style="height: 150px;">
      {{#ember-scrollable}}

        {{#if isPending}}
          <!--fetching data-->
          {{!-- {{component pendingComponent}} --}}
          {{component noOptionsComponent}}
        {{else}} {{#if hasFailed}}
          {{component failureComponent}}
        {{else}} {{#if hasOptions}}
          {{#each _options as |option index|}}
            {{component optionComponent
                        option=option
                        onClick=(action "onOptionClick")
                        onCheck=(action "onOptionCheck")
                        currentHighlight=currentHighlight
                        index=index}}
          {{/each}}
        {{else}}
          <label class="col s11">
            <small>
              Search for a company name or government institution. Use at least 3 characters.
            </small>
          </label>
          {{!-- {{component noOptionsComponent}} --}}
        {{/if}}{{/if}}{{/if}}
      {{/ember-scrollable}}

      </div>
    {{/elvis-select-dropdown}}
  {{else}}<!--!isExpanded-->

  {{/if}}<!--isExpanded-->
</div>
<div class="selectedActors">
  {{#unless isExpanded}}
  {{#if hasValue}}
    {{#if multiple}}
      {{#if countActors}}
        <ul class='multi-value__selected ul-count-actors'>
          {{#ember-scrollable}}
            {{#each _value as |selectedValue|}}
              {{component multiValueComponent value=selectedValue onRemoveClick="onRemoveValueClick"}}
            {{/each}}
          {{/ember-scrollable}}

        </ul>
      {{/if}}<!--countActors-->
    {{/if}}<!--multiple-->
  {{/if}}<!--hasValue-->
  {{/unless}}
</div>
