<div class="relative">
  {{input
      type="text"
      placeholder=searchLabel
      class="search-input"
      value=search
  }}
  <span class="absolute searchIcon" {{action "searchTable" on="click"}}>
    {{fa-icon 'search' size=1}}
  </span>

</div>
{{#data-table content=content sort=sort page=page as |t|}}
{{!--
{{#t.menu as |menu|}}
  {{#menu.general}}
    <a {{action 'export'}}>Export</a>
    <a>Print</a>
  {{/menu.general}}
  {{#menu.selected as |selection|}}
    <a {{action 'selectRow' selection}}>Delete</a>
  {{/menu.selected}}
{{/t.menu}}
--}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name label|}}
        {{elvis-th-sortable
            field=name
            currentSorting=sort
            label=label
            class=name
            search=search
            action="searchColumn"
        }}
      {{/each-in}}
    {{/c.header}}
    {{#perfect-scroll scrollTop=100 includePadding=true suppressScrollX=true}}

      {{#c.body as |row|}}
        {{#each-in fields as |name label|}}
          <td class="{{name}}" {{action "selectRow" row on="click"}}>
            {{#if (eq name "flags")}}
              {{#each-in row.flags as |flName flValue|}}
                <span class="flags"> {{fa-icon 'flag' size=1 title=flName}}</span>
              {{/each-in}}
            {{else}}
              {{dd row name}}
            {{/if}}
          </td>
        {{/each-in}}
        <!--<td class="absolute controls">something</td>-->
        <td class="absolute  toggle-controls">
          {{#link-to "network.show.details.detail.show" route row.id}}
            {{fa-icon 'arrow-circle-right' size=1}}
          {{/link-to}}
        </td>
      {{/c.body}}

    {{/perfect-scroll}}
  {{/t.content}}
{{/data-table}}