

<div class="data-table-filter row">
    <a class="order asc col s1" onclick={{action "changeSortOrder"}}>
      {{fa-icon 'sort-amount-desc'}}
    </a>

    <div class="input-field sortby col s11">
      {{ember-select-guru
          value=sortBySelect
          options=orderOptions
          searchKey='text'
          onSelect=(action "sortTable")
      }}
    </div>
</div>

<div class="data-table-search row">
    <div class="col s1 search-icon">
      {{fa-icon 'search'}}

    </div>
    <div class="col s11">
      {{input type="text"
              placeholder="search an actor.."
              class="search-input form-control"
              value=search
      }}
    </div>
</div>

{{#data-table content=content sort=sort page=page as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name label|}}
        {{elvis-th-sortable
            field=name
            currentSorting=sort
            label=label
            class=name
            search=search
            action="searchColumn"
        }}
      {{/each-in}}
    {{/c.header}}


    {{#ember-scrollable}}

      {{#each content as |row|}}
        <tr class="{{if row.isSelected 'selected'}} {{if row.hidden "hidden"}}">
            <td class="item-figure">
              {{#if row.isCluster}}
                <span class="containedNodes">
                  {{row.containedNodesCount}}
                </span>
              {{/if}}
              <figure>
	              <small>{{format-amount row.value "0,0[.]a"}}</small>
                <a class="item-zoom-to" {{action "selectRow" row on="click"}}>
                  {{fa-icon 'crosshairs'}}
                </a>
              </figure>
            </td>

	          <td class="item-name">
              {{#link-to "network.show.details.show" route row.link}}
                {{!-- relationships --}}
                {{#if row.toLabel}}
                  {{#link-to "network.show.details.show" route row.link}}
                    <small class="item-entity"><span class="figure-buyer"></span>&nbsp;{{row.fromLabel}} </small><br>
                    <small class="item-entity"><span class="figure-bidder"></span>&nbsp;{{row.toLabel}} </small>
                  {{/link-to}}
                {{/if}}
                {{!-- buyers / bidders --}}
                {{#if row.label}}
                  {{#if row.isCluster}}
                    {{#link-to "network.show.details.show" route (concat "c_" row.link)}}
                      {{row.label}}
                    {{/link-to}}
                  {{else}}
                    {{#link-to "network.show.details.show" route row.link}}
                      {{row.label}}
                    {{/link-to}}
                  {{/if}}
                {{/if}}
              {{/link-to}}
            </td>

           <!-- <td class="item-flags">
              {{#link-to "network.show.details.show" route row.link}}
                {{#if (gt row.flagsCount 0)}}
                    <span class="flags">
                      {{#if (gt row.flagsCount 3)}}
                        {{row.flagsCount}}
                      {{/if}}
                      {{fa-icon 'flag'}}

                      {{#tooltip-on-element enableLazyRendering=true}}
                        {{#each-in row.flags as |flName flValue|}}
                            <div class="flag-details">
                                <div class="flag-name">{{flName}}</div>
                                <div class="flag-value">{{flValue}}</div>
                            </div>
                        {{/each-in}}
                      {{/tooltip-on-element}}
                    </span>
                {{/if}}
              {{/link-to}}
    				</td>-->
          </tr>
        {{/each}}

    {{/ember-scrollable}}
  {{/t.content}}
{{/data-table}}
