<div id="login-form">

    <h3>Sign in to your account</h3>
    {{#if errorMessage}}
      {{#each errorMessage.errors as |err|}}
        <p class="alert alert-error">{{err.message}}</p>
      {{/each}}
    {{/if}}
    <form {{action 'authenticate' on='submit'}} autocomplete="off">

        <div class="input-field">
          <input name="login_email" id="login_email" type="email" value="{{email}}" autocomplete="on" />
          <label for="inputEmail">Email address</label>
        </div>
        <div class="input-field">
          <input name="login_password" id="login_password" type="password" value="{{password}}" autocomplete="on" />
          <label for="password">Password</label>
        </div>

        {{async-button action=(action "authenticate") default="Log in" pending="Logging in..." class="btn primary"}}
        {{#link-to "account.recover" class="btn link primary compact"}}Lost password?{{/link-to}}
        <br>
        <p>
          <a class="btn link compact" {{action "authenticateTwitter"}}>
            <i class="fa fa-twitter"></i>  Log in with Twitter
          </a>
          <a class="btn link compact" {{action "authenticateGithub"}}>
            <i class="fa fa-github"></i>  Log in with GitHub
          </a>
        </p>
    </form>
    <br><br>
    <h4>Don't have an account? Register <a href="#" class="link" {{action "showRegister"}}>here</a>.</h4>

</div>

<div class="hide" id="register-form">
    <h3>Create an account</h3>
    <p class="lead">Account lets you save created networks and merge nodes into clusters.</p>
    {{#if errorMessage}}
      {{#each errorMessage.errors as |err|}}
        <p class="alert alert-error">{{err.message}}</p>
      {{/each}}
    {{/if}}
    <form id="register" class="form-signin" {{action 'register' on='submit'}} autocomplete="off">

        <div class="input-field col m12">
          {{input id="register_email" value=email}}
          <label for="email">Email address</label>
        </div>


        <div class="input-field">
          {{input id="register_password_confirmation" type="password" value=password_confirmation}}
          <label for="registerPasswordConfirmation">Repeat password</label>
        </div>
        <div class="input-field">
          {{input id="register_password" type="password" value=password}}
          <label for="registerPassword">Your password here</label>
        </div>

        <div class="input-field">
          {{async-button action=(action "register") default="Register" pending="Sending..." class="btn primary"}}
        </div>

    </form>
    <br>
    <h4>Do you have an account? Log in <a href="#" class="link" {{action "showLogin"}}>here</a>.</h4>
</div>
