<div id="{{if modal 'login-modal' ''}}">
    <!-- !!!TODO
        couple of things do not work here:
        1. closing the modal by clicking .modal-close, hitting ESC key or clicking outside modal
        2. link to Register page
        3. closing the modal when redirecting to Lost password or Register
    -->


    {{#md-modal close='closeModal'}}
        <a class="modal-close" href="#" {{action 'closeModal'}}><i class="fa fa-close"></i></a>
        <div class="modal-content">
            <h3>Sign in to your account</h3>
            <p>Don'have an account? Register <a href="#" >here</a>.</p>
            {{#if errorMessage}}
                <p class="alert alert-error">{{errorMessage}}</p>
            {{/if}}
            <form {{action 'authenticate' on='submit'}} autocomplete="off">
                <div class="input-field">
                    {{input id='identification' value=identification type='email' autocomplete='on'}}
                    <label for="inputEmail">Email address</label>
                </div>
                <div class="input-field">
                    {{input id='password' type='password' value=password autocomplete='on'}}
                    <label for="password">Password</label>
                </div>
                <br>
                {{async-button action=(action "authenticate" fakeUser) default="Sign in" pending="Logging in..." class="btn primary"}}
                {{#link-to "account.recover" class="btn link primary"}}Lost password?{{/link-to}}
            </form>
        </div>
    {{/md-modal}}

</div>
