{{#network-container id='details-container'}}
  <div id="details-sidebar"  style="height: {{height}}px;">
    <div class="row">
      <div class="col s12">
        <a {{action 'closeDetails' model.id}} class="right" style="cursor: pointer;">
          <i class="material-icons">close</i>
        </a>
        <h5 class="details">New Network {{fa-icon 'edit' size=1}}</h5>
      </div>
      <div class="col s12">
        {{#tabbed-content active=active on-change="changeTab" as |manager|}}
          <div class="tabs__nav">
            {{#tab-button class="tab-button" manager=manager name="suppliers"}}Suppliers{{/tab-button}}
            {{#tab-button class="tab-button" manager=manager name="procurers"}}Procurers{{/tab-button}}
            {{#tab-button class="tab-button" manager=manager name="relationships"}}Relationships{{/tab-button}}
          </div>

          {{#tab-panel manager=manager name="suppliers" class='tab-panel'}}
            {{!--Tab suppliers--}}
            {{#if model.graph.nodes}}
              {{ ag-grid gridOptions=gridOptions.suppliers class="ag-material" network=network }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}

          {{#tab-panel manager=manager name="procurers" class='tab-panel'}}
            {{#if model.graph.nodes}}
              {{ ag-grid gridOptions=gridOptions.procurers class="ag-material" network=network }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}

          {{#tab-panel manager=manager name="relationships" class='tab-panel'}}
            {{#if model.graph.nodes}}
              {{ ag-grid gridOptions=gridOptions.relationships class="ag-material" network=network }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}
        {{/tabbed-content}}
      </div>
    </div>
  </div>
  <div id="details-info">{{outlet}}</div>
{{/network-container}}
