{{outlet "details"}}

{{#network-container id='details-container'}}
  <div id="details-sidebar"  style="height: {{height}}px;">
    <div class="row">
      <div class="col s12">
        <h5 class={{if networkInput "hide" "show-block details"}}>
          <span {{action "toggleInput" on="click"}}>
            {{fa-icon 'cog' size=1}}
          </span>
          {{#if model.name}}
            {{model.name}}
          {{else}}
            MyProjectName
          {{/if}}
        </h5>
        <div class={{if networkInput "show-block network-input row" "hide"}}>
          <span class="col s10">
            {{input type="text" value=model.name placeholder="My Project Name"}}
          </span>
          <div class="controls col s2">
            <span {{action "saveNetworkName"}}>{{fa-icon 'check' size=1}}</span>
            <span {{action "toggleInput"}}>{{fa-icon 'close' size=1 }} </span>
          </div>
        </div>
      </div>
      <div class="col s12 relative">
        <a {{action 'closeDetails' model.id}} class="right closeDetails absolute" style="cursor: pointer;">
          <i class="material-icons">{{fa-icon 'arrow-circle-left' size=1}}</i>
        </a>
        {{#tabbed-content active=active on-change="changeTab" active-class="tab-button--active" as |manager|}}
          <div class="tabs__nav">
            {{#tab-button class="tab-button"  manager=manager name="suppliers"}}
              {{#link-to 'network.show.details.detail' 'suppliers'}}
                <span class="absolute circle supplier"> {{fa-icon 'circle' size=1}} </span>
                Suppliers
              {{/link-to}}
            {{/tab-button}}
            {{#tab-button class="tab-button"  manager=manager  name="procurers"}}
              {{#link-to 'network.show.details.detail' 'procurers'}}
                <span class="absolute circle procurer"> {{fa-icon 'circle' size=1}} </span>
                Procurers
              {{/link-to}}
            {{/tab-button}}
            {{#tab-button class="tab-button"  manager=manager name="relationships" active-class="tabs-button--active2"}}
              {{#link-to 'network.show.details.detail' 'relationships'}}
                <span class="absolute circle relationship-line"> <hr/> </span>
                <span class="absolute circle relationship rel1"> {{fa-icon 'circle' size=1}} </span>
                <span class="absolute circle relationship rel2"> {{fa-icon 'circle' size=1}} </span>
                Relationships
              {{/link-to}}
            {{/tab-button}}
          </div>
          {{#tab-panel manager=manager name="suppliers" class='tab-panel'}}
          {{!--Tab suppliers--}}
            {{#if model.graph.nodes}}
              {{!--
              {{ ag-grid gridOptions=gridOptions.suppliers width="100%" theme="ag-material" network=network }}
              --}}
              {{elvis-data-table
                  class="suppliers"
                  action="nodeRowClick"
                  tableContent=gridOptions.suppliers.rowData
                  fields=fields.suppliers
                  flags=flags.suppliers
                  network=network
                  networkId=model.id
              }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}

          {{#tab-panel manager=manager name="procurers" class='tab-panel'}}
            {{#if model.graph.nodes}}
              {{elvis-data-table
                  class="suppliers"
                  action="nodeRowClick"
                  tableContent=gridOptions.procurers.rowData
                  fields=fields.suppliers
                  flags=flags.suppliers
                  network=network
                  networkId=model.id
              }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}

          {{#tab-panel manager=manager name="relationships" class='tab-panel'}}
            {{#if model.graph.nodes}}
              {{elvis-data-table
                  class="relationships"
                  action="edgeRowClick"
                  tableContent=gridOptions.relationships.rowData
                  fields=fields.relationships
                  flags=flags.relationships
                  network=network
                  networkId=model.id
              }}
            {{else}}
              {{fa-icon 'plus' spin=true}} Loading data grid...
            {{/if}}
          {{/tab-panel}}
        {{/tabbed-content}}

      </div>
    </div>
  </div>
  <div id="details-info">{{outlet}}</div>
{{/network-container}}
