<td class="award">
  {{#link-to "network.show.details.contract" route (concat row.id "-" supplierId)}}
    {{fa-icon 'file-text' size=1}}
    {{row.award.title}}
  {{/link-to}}
</td>
<td class="parties">
  {{#each row.suppliers as |supplier|}}
    <span class="circle supplier"> {{fa-icon 'circle' size=1}} </span>
    {{supplier.name}}
    <br>
  {{/each}}
  <br>
</td>
<td class="value">{{row.award.value.x_amount_eur}} M</td>
<td class="bids">{{row.number_of_tenderers}}</td>