<td class="procurer">
  <span class="circle procurer"> {{fa-icon 'circle' size=1}} </span>
  {{row.name}}
</td>
<td class="contracts">
  {{#each row.contracts as |contract|}}
    <div>
      <span> {{fa-icon 'file-text' size=1}} </span>
      <span>{{contract}}</span>
    </div>
  {{/each}}
</td>
<td class="income">{{format-amount row.income}}</td>
<td class="bids">{{row.median}}</td>
