<div class="row">
  <div class="col s6 offset-s3 center-align">
    <h3>Create an account</h3>
    <p>Do you have an account? Login {{#link-to "account.login"}}here{{/link-to}}.</p>
    {{#if errorMessage}}
      {{#each errorMessage.errors as |err|}}
        <p class="alert alert-error">{{err.message}}</p>
      {{/each}}
    {{/if}}
    <form id="register" class="form-signin" {{action 'register' on='submit'}} autocomplete="off">
      <div class="row">

        <div class="input-field col s12">
          <label for="email" class="sr-only">Email address</label>
          {{input id="email" value=model.email}}
        </div>

        <div class="input-field col s12">
          <label for="registerPassword">Your password here</label>
          {{input id="registerPassword" type="password" value=model.password}}
        </div>

        <div class="input-field col s12">
          <label for="registerPasswordConfirmation">...again, please?</label>
          {{input id="registerPasswordConfirmation" type="password" value=model.password_confirmation}}
        </div>

        <div class="input-field col s12">
          {{async-button action=(action "register" model) default="Register" pending="Sending..." class="btn btn-lg btn-primary btn-block"}}
        </div>

      </div>
      <div class="row">
        <div class="col s12">
          <h2>Join our community, it's free!</h2>
          <ul>
            <li>Save and edit projects</li>
            <li>Embed ans share networks</li>
            <li>Be part of the community</li>
            <li>Other cool stuff</li>
          </ul>
        </div>
      </div>

    </form>
  </div>
</div>
