{{#if t}}
  <div class="row">
    <div class="col s12">
      <h1>Change Password</h1>
      <hr>
    </div>

    <div class="query-form-container">
      <form {{action "sendChange" password password_confirmation t on='submit'}}>
        <div class="row">
          {{md-input
              label="type new password here"
              type="password"
              value=password
              class="col s3"
              validate=true
          }}
          {{md-input
              label="repeat new password"
              type="password"
              value=password_confirmation
              class="col s3"
              validate=true
          }}
        </div>
        <div class="row">
          <div class="col  s3 offset-s3 right-align">
            <button type="submit" class="btn btn-primary {{isDisabled}}">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{else}}
  <div style="margin-top: 3rem;">
    <h3>Password recovery</h3>
    {{#if emailSent}}
      <p>Please check your email now. We have sent there further instructions on password recovery. </p>
    {{else}}
      <p class="lead">Use the email you registered with to reset your password. </p>
      <div class="query-form-container">
        <form {{action "sendRecover" email on="submit"}}>
          {{md-input
              label="your email"
              value=email
              validate=true
              class="inline"
          }}
          <br>
          <button type="submit" class="btn primary">Submit</button>

        </form>
      </div>
    {{/if}}
  </div>
  <br><br>
  <br><br>

{{/if}}
