<div class="row">
 <div class="col s12">
   {{model.email}}
      <h1>Account Settings</h1>
      <hr/>
  </div>
</div>
<div class="row query-form-container">
  <form>
    <div class="col s12">
      <small>BASIC SETTINGS <hr/></small>


      <div class="row">
        <div class="col s4">
          <h5>Your Name</h5>
          <small>Tell me who you are and i will know how to call you </small>
        </div>
        {{md-input
             label="Name"
             class="col s3"
             validate=true
        }}
      </div>
      <div class="row">
        <div class="col s4">
          <h5>Default Country</h5>
          <small>We will use this as a default country for your visualisation queries</small>
        </div>
        <div class="input-field col s3">
            {{ember-select-guru
                value=selectedCountry
                options=countries
                searchKey='text'
                multiple=false
                optionComponent='country-option'
                onSelect=(action "onSelectEvent")
                }}
        </div>
        </div>
      <div class="row">
        <div class="col s4"> </div>
        <div class="col s3 offset-s4">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row query-form-container">
  <form class="form-inline">
    <div class="col s12">
        <small>
          CHANGE PASSWORD
          <hr/>
        </small>

      <div class="row">
        <div class="col s4">
            <h5>New Password</h5>
        </div>
          {{md-input
               label="type new password here"
               class="col s3"
               validate=true
          }}
          {{md-input
               label="repeat new password"
               class="col s3"
               validate=true
          }}
      </div>
      <div class="row">
        <div class="col  s3 offset-s4">
           <button type="submit" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
  </form>
</div>
