<div class="row">
 <div class="col s12">
      <h1>Account Settings</h1>
      <hr/>
  </div>
</div>
<div class="row query-form-container">
  <form {{action "settings" model on="submit"}}>
    <div class="col s12">
      <small>BASIC SETTINGS <hr/></small>
      <div class="row">
        <div class="col s4">
          <h4>Your Name</h4>
          <small>Tell me who you are and i will know how to call you </small>
        </div>
        {{md-input
             label="Name"
             class="col s3"
             value=model.name
             validate=true
        }}
      </div>
      <div class="row">
        <div class="col s4">
          <h4>Default Country</h4>
          <small>We will use this as a default country for your visualisation queries</small>
        </div>
        <div class="input-field col s3">
            {{ember-select-guru
                value=model.country
                options=countries
                searchKey='text'
                multiple=false
                optionComponent='country-option'
                }}
        </div>
        </div>
      <div class="row">
        <div class="col s4"> </div>
        <div class="col s3 offset-s4">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row query-form-container">
  <form class="form-inline" id="recover" {{action 'deviseSendReset' current_password password password_confirmation on='submit'}}>
    <div class="col s12">
      <small>
         CHANGE PASSWORD
         <hr/>
       </small>

      <div class="row">
          {{md-input
               label="type old password here"
               type="password"
               value=current_password
               class="col s3"
          }}
          {{md-input
               label="type new password here"
               type="password"
               value=password
               class="col s3"
               validate=true
          }}
          {{md-input
               label="repeat new password"
               type="password"
               value=password_confirmation
               class="col s3"
               validate=true
          }}
      </div>
      <div class="row">
        <div class="col  s3 offset-s6">
           <button type="submit" class="btn btn-primary {{isDisabled}}">Reset</button>
        </div>
      </div>
    </div>
  </form>
</div>
