<div id="mygraphs">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1>My Projects</h1>
          <hr/>
        </div>
      </div>
        <div class="row">
          {{#each model as |network|}}

          <div class="card-container col s3 m6 l4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                {{!-- <img class="activator" src="http://lorempixel.com/400/200/animals/"> --}}
                <img class="activator" src="/network_demo.jpg">
              </div>
              <div class="card-content">
                <h3 class="card-title activator ">
                  {{#if network.name}}
                    {{network.name}}
                  {{else}}
                    My Project
                  {{/if}}
                </h3>
                <small>{{network.id}}</small>

                <p class="row">
                  <small class="left">14 days ago</small>
                  <small class="right">
                    {{#link-to 'network.show' network.id}}
                      Load project
                    {{/link-to}}
                  </small>

                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title  el-title">
                  {{#if network.name}}
                    {{network.name}}
                  {{else}}
                    My Project
                  {{/if}}
                </span>
                <p class="el-title grey-text project-query">
                  <span class="project-countries">
                    {{#each demoNetwork.query.countries as |country|}}
                      {{world-flag country 32}}
                    {{/each}}
                  </span>
                  <span class="project-years">( {{demoNetwork.firstYear}} - {{demoNetwork.lastYear}} )</span>
                </p>

                <p class="grey-text project-description">
                  Here is some more information about this project that is only revealed once clicked on.
                </p>

                <div class="relative project-cpvs">
                  <div class="show-cpvs"> {{demoNetwork.cpvsCount}} CPVS selected...</div>
                  <div class="absolute project-listCpvs hide">
                    {{#each demoNetwork.query.cpvs as |cpv|}}
                       <span class="cpv-selected"> {{cpv}}</span>
                    {{/each}}
                  </div>
                </div>
                <div class="row project-counting">
                  <div>
                    <div class="col s6">Edges <span class="fs0">({{demoNetwork.options.edges}})</span> </div>
                    <div class="col s6 right-align bold">{{demoNetwork.count.edges_count}}</div>
                  </div>
                  <div>
                    <div class="col s6">Nodes <span class="fs0">({{demoNetwork.options.nodes}})</span></div>
                    <div class="col s6 right-align  bold">{{demoNetwork.count.nodes_count}}</div>
                  </div>

                </div>
                <br>
                {{#link-to 'network.show' network.id}}
                  Load project
                {{/link-to}}
              </div>
            </div>
          </div>
          {{/each}}

          <div class="card-container col s3 m6 l4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                {{!-- <img class="activator" src="http://lorempixel.com/400/200/animals/"> --}}
                {{#link-to 'network.new'}}
                <img class="activator" src="/new_visualisation.jpg">
                {{/link-to}}
              </div>
              <div class="card-content">
                <span class="card-title">
                 New visualisation
                  <br>
                  <small>start right now</small>
                </span>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>
