<div class="page" id="mygraphs">
    <div class="container">
        <div class="center">
            <br>
            <h1>My Projects</h1>
            <br>
            {{#link-to 'network.new' class='btn primary'}}<i class="fa fa-plus"></i> New Project{{/link-to}}
            <br>
            <br>
        </div>

        <div class="project-list">
          {{#each model as |network|}}
              <div class="project-item">
                  <div class="project-body">
                      <div class="project-name">
                            {{#link-to 'network.show' network.id}}
                              {{#if network.name}}
                                {{network.name}}
                              {{else}}
                                  My Project <small>#{{network.id}}</small>
                              {{/if}}
                            {{/link-to}}
                      </div>
                      <div class="project-description">
                          {{network.synopsis}}
                      </div>
                      <div class="project-meta">
                        <span class="meta-item">
                            <span class="project-lastupdate">
                              {{moment-format network.updated 'DD MM YYYY' }}
                            </span>
                        </span>
                       <!-- <span class="meta-item">
                            <i class="fa fa-lock"></i> Private
                        </span>-->
                          <span class="meta-item">
                            <i class="figure-buyer"></i>
                              <i class="figure-bidder"></i>
                                {{network.count.nodeCount}} nodes
                        </span>

                          <span class="meta-item">
                            <i class="figure-relationship"></i> {{network.count.edgeCount}} Connections
                        </span>
                      </div>
                  </div>
                  <div class="project-specs">
                      <div class="project-countries">
                          {{#each network.query.countries as |country|}}
                            {{world-flag country 32}}
                          {{/each}}
                      </div>
                      <div class="project-years">{{network.firstYear}} - {{network.lastYear}}</div>
                      <div class="project-other">
                          {{network.cpvsCount}} CPV markets
                          <div class="hide"><!-- TODO: create popup with list of cpvs -->
                              {{#each network.query.cpvs as |cpv|}}
                                  <span class="cpv-selected"> {{cpv}}</span>
                              {{/each}}
                          </div>
                      </div>
                      <!-- TODO: number of companies -->
                      {{#if network.companies}}
                        <div class="project-other">{{network.companies}} companies</div>
                      {{/if}}
                  </div>
                  <div class="project-actions">
                      <a class="project-remove" {{action "deleteNetwork" network.id on="click"}} href="#"><i class="fa fa-trash"></i></a>
                  </div>
              </div>

          <div class="card-container col s3 m6 l4 hide">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                {{!-- <img class="activator" src="http://lorempixel.com/400/200/animals/"> --}}
                <img class="activator" src="/images/network_demo.jpg">
              </div>
              <div class="card-content">
                <h3 class="card-title activator ">
                  {{#if network.name}}
                    {{network.name}}
                  {{else}}
                    My Project
                  {{/if}}
                </h3>
                <small>{{network.id}}</small>

                <p class="row">
                  <small class="left">14 days ago</small>
                  <small class="right">
                    {{#link-to 'network.show' network.id}}
                      Load project
                    {{/link-to}}
                  </small>

                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title  el-title">
                  {{#if network.name}}
                    {{network.name}}
                  {{else}}
                    My Project
                  {{/if}}
                </span>
                <p class="el-title grey-text project-query">
                  <span class="project-countries">
                    {{#each network.query.countries as |country|}}
                      {{world-flag country 32}}
                    {{/each}}
                  </span>
                  <span class="project-years">( {{network.firstYear}} - {{network.lastYear}} )</span>
                </p>

                <p class="grey-text project-description">
                  {{network.description}}
                </p>

                <div class="relative project-cpvs">
                  <div class="show-cpvs"> {{network.cpvsCount}} CPVS selected...</div>
                  <div class="absolute project-listCpvs hide">
                    {{#each network.query.cpvs as |cpv|}}
                       <span class="cpv-selected"> {{cpv}}</span>
                    {{/each}}
                  </div>
                </div>

                <br>
                <div class="controls-projects">
                  <div class="row">
                    <div class="col s9 control-icon-light">
                      <h6 class="el-label" {{action "deleteNetwork" network.id on="click"}}>
                        {{fa-icon 'trash' size=1}}
                        <small>DELETE NETWORK</small>
                      </h6>
                    </div>
                    <div class="col s3 right-align">
                      {{#link-to 'network.show' network.id}}
                        {{fa-icon 'arrow-circle-right' size=3}}
                      {{/link-to}}
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          {{/each}}

        </div>
    </div>
</div>
