<div class="page wizard">
  <section id="legend" class="wizard-legend">

    <div class="launch-network launch-network100">
      <i class="fa fa-spinner fa-pulse fa-fw"></i> Your Network is being created.

      This is probably going to tale a while...
    </div>

    <div class="carousel">
      {{#carousel-container transitionInterval=400 as |ui controls|}}
        <div class="carousel-body">
          {{#ui.item}}
            <div class="carousel-content">
              <img src="images/carousel/1company.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="images/carousel/2govermnt.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="images/carousel/3relationship.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="images/carousel/4merging.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="images/carousel/5tenders.jpg">
            </div>
          {{/ui.item}}

        </div>

        <div class="carousel-controls">

          <small class="carousel-control carousel-right" onclick={{controls.next}}>
            {{fa-icon "arrow-circle-left"}} Previous
          </small>
          <small class="carousel-control carousel-left" onclick={{controls.previous}}>
            {{fa-icon "arrow-circle-right"}} Next
          </small>

          <div class="carousel-close">
            <a class="btn-tiny transparent" {{action "toggleInfo" on="click"}}>
              Close
            </a>
          </div>
        </div>

      {{/carousel-container}}
    </div>
  </section>

  <div class="container">
    <div class="row">
      {{!--partial 'partials/network/new'--}}
      <header class="center">
        <h1>Launch New Visualisation</h1>
        <p>Select criteria you would like to visualise from the <a href="opentender.eu">OpenTender data</a>.<br/>
          Bare in mind that wider criteria will result in too much data to visualise which will make
          the visualisation run slow.</p>
      </header>

      <!-- NEW QUERY BUILDER HTML STARTS HERE

          TODO: for now we need to make the query builder function with real data.
          TODO 2: wizard functionality (this will make it more beautiful, but is not that necessary):
              .wizard-step has 3 states:
                    1 .wizard-step.disabled - a step which cannot be completed because other inputs (from previous steps) need to be filled
                    2 .wizard-step.current - a step which has not been completed, but can be interacted with
                    3 .wizard-step.completed - this step is available for interaction AND all inputs inside this step which are necessary for the next step to be enabled, has been filled
      -->

      {{#if isMobile.any}}
        <p class="center"><i>
          Hi! You are using a mobile device. We get this.
          However, Elvis is not yet optimized for small screens.
          Therefore, in order to get most out of Elvis, please switch to a larger screen, such as a laptop or desktop computer.
          <br>
          Thank you!
        </i></p>
      {{/if}}
      <div id="query-builder" class="wizard">
        <div class="row valign-wrapper">
          <div class="col s3 title">
            <h3>
              Network Builder
            </h3>
          </div>
          <div class="col s8 selected-options">
              {{#if (eq countriesStatus 'completed')}}
                <span class="selected-option selected-countries">
                  {{#each query.countries as |country|}}
                    {{world-flag country 16}}
                  {{/each}}
                </span>
              {{/if}}

              {{#if (eq yearsStatus 'completed')}}
                <span class="selected-option selected-years-range">
                  {{queryYearsRange.min}} - {{queryYearsRange.max}}
                </span>
              {{/if}}

              {{#if selectedCodesCount}}
                <span class="selected-option selected-markets">
                {{selectedCodesCount}} <small>markets</small>
              </span>
              {{/if}}
            </div>
        </div>



        {{#elvis-wizard
            wizardData=wizardData
            submitAction="submitQuery"
            cancelAction="cancelAction"
            wizardShowNextStep=wizardShowNextStep
            wizardStepChangeAction="wizardStepChanged"
            buttonLabels=customButtonLabels
            animationDuration=700
            useRoundedNav=useRoundedNav
        as |currentState|
        }}
          {{#wizard-step stepId="1" wizardCurrentState=currentState}}
            {{partial 'network/partials/wizard-countries'}}
          {{/wizard-step}}

          {{#wizard-step stepId="2"  wizardCurrentState=currentState}}
            {{#if wizardErrorMessage}}
              <p class="wizard-error-mesage">{{wizardErrorMessage}}</p>
            {{/if}}
            {{partial 'network/partials/wizard-actors'}}
          {{/wizard-step}}

          {{#wizard-step stepId="3"  wizardCurrentState=currentState}}
            {{#if loading.years}}
              {{elvis-loader  message="Loading years.."}}
            {{else}}
              {{partial 'network/partials/wizard-years'}}
            {{/if}}
          {{/wizard-step}}

          {{#wizard-step stepId="4" wizardCurrentState=currentState}}
            {{#if loading.cpvs}}
              {{elvis-loader  message="Loading cpvs.."}}
            {{else}}
              {{partial 'network/partials/wizard-cpvs'}}
            {{/if}}
          {{/wizard-step}}

          {{#wizard-step stepId="5"  wizardCurrentState=currentState}}
            {{partial 'network/partials/wizard-settings'}}
          {{/wizard-step}}


        {{/elvis-wizard}}
      </div>


    </div>
  </div>
</div>
