{{#if networkLoading}}
<section id="legend" class="">

  <div class="legend-wrapper">

    {{! Shows when the network is loading and cannot be yet accessed }}
    <div class="network-loader">
      <span>Hold on, your network is loading...</span>
      <div class="progress">
        <div class="determinate" style="awidth: {{concat stabilizationPercent "%"}}"></div>
      </div>
    </div>

    <div class="carousel">
      {{#carousel-container transitionInterval=400 as |ui controls|}}
        <div class="carousel-body">
          {{#ui.item}}
            <div class="carousel-content">
              <img src="/images/carousel/1company.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="/images/carousel/2govermnt.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="/images/carousel/3relationship.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="/images/carousel/4merging.jpg">
            </div>
          {{/ui.item}}
          {{#ui.item}}
            <div class="carousel-content">
              <img src="/images/carousel/5tenders.jpg">
            </div>
          {{/ui.item}}

        </div>

        <div class="carousel-footer">
          <div class="carousel-arrows">
            <a class="btn link carousel-control carousel-right" onclick={{controls.next}}>
              {{fa-icon "arrow-circle-left"}} Previous
            </a>
            <a class="btn link carousel-control carousel-left" onclick={{controls.previous}}>
              {{fa-icon "arrow-circle-right"}} Next
            </a>
          </div>

          <div class="carousel-close">
            <a class="btn transparent" {{action "toggleInfo" on="click"}}>
              Close
            </a>
          </div>
        </div>

      {{/carousel-container}}
    </div>

  </div>
</section>
{{/if}}

<div class="page wizard">
  <div class="container">
    <div class="row">
      {{!--partial 'partials/network/new'--}}
      <header>
        <h2>Network Builder</h2>
      </header>
      {{#if isMobile.any}}
        <p class="center"><i>
          Hi! You are using a mobile device. We get this.
          However, Elvis is not yet optimized for small screens.
          Therefore, in order to get most out of Elvis, please switch to a larger screen, such as a laptop or desktop computer.
          <br>
          Thank you!
        </i></p>
      {{/if}}
      <div id="query-builder" class="wizard">

        {{#elvis-wizard
            wizardData=wizardData
            submitAction="submitQuery"
            cancelAction="cancelAction"
            wizardShowNextStep=wizardShowNextStep
            wizardStepChangeAction="wizardStepChanged"
            buttonLabels=customButtonLabels
            animationDuration=700
            useRoundedNav=useRoundedNav
            as |currentState|
        }}
          {{#currentState.step-completed stepId="1" name="selected-countries" wizardCurrentState=currentState}}
            {{#each query.countries as |country|}}
              {{world-flag country 16}}
            {{/each}}
          {{/currentState.step-completed}}

          {{#if query.actors.length}}
          {{#currentState.step-completed stepId="2" name="selected-actors-actors" wizardCurrentState=currentState}}
              <span>
                {{query.actors.length}}
              </span>
              <div class="figure-buyer"></div><div class="figure-bidder"></div>
            {{/currentState.step-completed}}
          {{/if}}


          {{#currentState.step-completed stepId="3" name="selected-years-range" wizardCurrentState=currentState}}
            {{queryYearsRange.min}} - {{queryYearsRange.max}}
          {{/currentState.step-completed}}

          {{#currentState.step-completed stepId="4" name="selected-markets" wizardCurrentState=currentState}}
            {{#if selectedCodesCount}}
              {{selectedCodesCount}}
            {{else}}
              {{countAllCpvs}}
            {{/if}}
             <small>markets</small>
          {{/currentState.step-completed}}


          {{#currentState.step stepId="1" wizardCurrentState=currentState}}
            {{partial 'network/partials/wizard-countries'}}
          {{/currentState.step}}

          {{#currentState.step stepId="2"  wizardCurrentState=currentState}}
            {{#if wizardErrorMessage}}
              <p class="alert alert-error"><i class="fa fa-warning"></i> {{wizardErrorMessage}}</p>
            {{/if}}
            {{partial 'network/partials/wizard-actors'}}
          {{/currentState.step}}

          {{#currentState.step stepId="3"  wizardCurrentState=currentState}}
            {{#if loading.years}}
              {{elvis-loader  message="Loading years.."}}
            {{else}}
              {{partial 'network/partials/wizard-years'}}
            {{/if}}
          {{/currentState.step}}

          {{#currentState.step stepId="4" wizardCurrentState=currentState}}
            {{#if loading.cpvs}}
              {{elvis-loader  message="Loading.."}}
            {{else}}
              {{partial 'network/partials/wizard-cpvs'}}
            {{/if}}
          {{/currentState.step}}

          {{#currentState.step stepId="5"  wizardCurrentState=currentState}}
            {{partial 'network/partials/wizard-settings'}}
          {{/currentState.step}}


        {{/elvis-wizard}}
      </div>
    </div>

  </div>
</div>
