<div class="page wizard">
  <div class="container">
    <div class="row">
      <header class="center">
        <h1>Launch New Visualisation</h1>
        <p>Select criteria you would like to visualise from the <a href="opentender.eu">OpenTender data</a>.<br/>
          Bare in mind that wider criteria will result in too much data to visualise which will make
          the visualisation run slow.</p>
      </header>

      {{! @TODO: hide everything else if device is small screen and show only this message. }}
      {{#if isMobile.any}}
        <p class="center"><i>
          Hi! You are using a mobile device. We get this.
          However, Elvis is not yet optimized for small screens.
          Therefore, in order to get most out of Elvis, please switch to a larger screen, such as a laptop or desktop computer.
          <br>
          Thank you!
        </i></p>
      {{/if}}


      {{!
        @TODO: create a component for each Query Builder step
      }}
      <div id="query-builder" class="wizard">

        <!-- STEP 1: country and actors selection	 -->
        <section class="wizard-step {{countriesStatus}}">
          <div class="row">
            <div class="col m4 s12">
              <h3>Select a country and/or actors*</h3>
              <p>Only procurement from these countries and/or actors* will be visualised.
                * actors are <div class="figure-bidder"></div>  companies or <div class="figure-buyer"></div> government institutions</p>
            </div>
            <div class="col m8 s12">
              <div class="input-field col m6 s12">
                <span class="input-prefix"><i class="fa fa-globe"></i></span>

                {{ember-select-guru
                    value=query.rawCountries
                    options=countries
                    searchKey='text'
                    multiple=true
                    optionComponent='country-option'
                    noOptionsComponent='qb-no-option'
                    onSelect=(action "onCountrySelectEvent")
                }}
                <label>Select countries</label>
              </div>
              <div class="input-field col m6 s12 select-actors">
                <span class="input-prefix">
                  <i class="fa fa-briefcase"></i>
                </span>

                {{elvis-select-guru
                    value=query.rawActors
                    options=autocompleteActorsOptions
                    searchKey='name'
                    multiple= true
                    optionComponent='actor-option'
                    noOptionsComponent='qb-no-option'
                    multiValueComponent='actor-value'
                    onSearchInputChange=(action "actorTermChanged")
                    onSelect=(action "onAutocompleteSelectEvent")
                    countActors = countActors

                }}
                <label>
                  Select actors
                </label>
              </div>
            </div>
          </div>
        </section>

        <!-- STEP 2: year range	 -->
        <section class="wizard-step {{yearsStatus}}">
          <div class="row">
            <div class="col m4 s12">
              <h3>Year range</h3>
              <p>Only procurement in this year range will be visualised</p>
            </div>
            <div class="col m8 s12">
              {{#if loading.years}}
                Loading...
              {{else}}
                {{#if years.length}}
                  <div class="input-field col m6 s12">
                    {{range-slider
                        range = yearsRange
                        start = yearsStart
                        step=1
                        connect=true
                        tooltips=true
                        disabled=rangeIsDisabled
                        class=(concat rangeDisableClass ' noUi-target noUi-ltr noUi-horizontal noUi-background' )
                        on-slide="rangeSlideAction"
                        on-change="rangeChangeAction"
                    }}
                  </div>
                {{else}}
                  No years range is available for your selection.
                {{/if}}
              {{/if}}
            </div>
          </div>
        </section>

        <!-- STEP 3: specifying CPVs: markets/industry fields -->
        <section class="wizard-step {{cpvsStatus}}">
          <div class="row">
            <div class="col m4 s12">
              <h3>Markets / Fields</h3>
              <p>Only selected procurement markets will be visualised.</p>
              <p><a href="https://simap.ted.europa.eu/cpv" target="_blank"><i class="fa fa-arrow-right"></i> Read more about CPV codes</a></p>
              <p><h4>{{selectedCodesCount}} <small>winning bids selected</small></h4></p>
            </div>
            <div class="col m8 s12">
              <div class="cpv-selector cpv-tree">
                <!-- @NOTE: ember-scrollable scrollbar needs to be wrapping the long content, and its parent must have limited height  - in this case .cpv-selector { height: 400px; } -->
                {{#if loading.cpvs}}
                  {{#if query.countries}}
                    <i class="fa fa-spinner fa-pulse fa-fw"></i> Loading...
                  {{/if}}
                {{else}}
                  {{#if cpvsIsDisabled}}
                    {{log loading.cpvs}}

                    {{#if cpvs}}
                      <form class="row" {{action 'searchCpv' on='submit'}}>
                        <div class="col s8">
                          {{input type="text"
                                  placeholder="search for keyword of CPV code.."
                                  class="search-input form-control"
                                  value=cpvSearchTerm
                          }}
                        </div>
                        <div class="col s2">
                          {{md-btn text=''
                                   icon='fa fa-search'
                                   action='searchCpv'
                                   class='grey darken-3 btn-floating'
                          }}
                        </div>
                      </form>


                      {{#ember-scrollable}}
                        <div class="jstree-default-dark-small">
                          {{ember-jstree
                              data=tree
                              plugins=jsTreeConfig.plugins
                              themes=jsTreeConfig.core.themes
                              selectedNodes=selectedCodes
                              searchOptions=jsTreeConfig.searchOptions
                              checkboxOptions=jsTreeConfig.checkbox
                              actionReceiver=jsTree
                              searchTerm=cpvSearchTree
                          }}
                        </div>
                      {{/ember-scrollable}}
                    {{else}}
                      {{#if years}}
                        Available CPV codes will be shown here after completing steps 1 and 2.
                      {{else}}
                        No CPV codes are available for your selection.
                      {{/if}}
                    {{/if}} {{!--{{#if cpvs}} --}}
                  {{else}}{{!-- {{#if cpvsIsDisabled}} --}}
                    <div class="loadcpvs">
                      {{md-btn-submit
                          action='loadCpvs'
                          class='btn-large primary'
                          text='Load Markets!'
                          isDisabled=cpvsIsDisabled
                      }}
                    </div>
                  {{/if}} {{!-- {{#if cpvsIsDisabled}} --}}
                {{/if}} {{!-- {{#if loading.cpvs}} --}}
              </div>
            </div>
          </div>
        </section>

        <!-- STEP 4: rendering options for nodes and edges -->
        <section class="wizard-step {{optionsStatus}}">
          <div class="row">
            <div class="col m4 s12">
              <h3>Rendering options</h3>
              <p>Select what type of data do network entities represent.</p>
            </div>
            <div class="col m8 s12">
              <!--Node Size-->
              <div class="row">
                <div class="qb-rendering-nodes col m7 s12">
                  <h5>Dot size<span class="text-muted">represents</span></h5>
                  {{radio-button
                      value="numberOfWinningBids"
                      radioId="nodeSizeCount"
                      groupValue=query.nodes
                  }}
                  <label class="node-size-count" for="nodeSizeCount">Number of contracts</label>
                  <br>
                  {{radio-button
                      value="amountOfMoneyExchanged"
                      radioId="nodeSizeSum"
                      groupValue=query.nodes
                  }}
                  <label class="node-size-sum" for="nodeSizeSum">Money sum of all contracts</label>
                </div>
                <div class="qb-rendering-edges col m5 s12 {{query.nodes}}">
                 <!--Image-->
                  <img class="winningBids" height="130" width="240" src="/images/wizard4/nodecontracts.png"/>
                  <img class="moneyExchanged" height="130" width="240" src="/images/wizard4/nodemoney.png"/>

                </div>
              </div>
              <!--Edge size-->
              <div class="row">
                <div class="qb-rendering-edges col m7 s12">
                  <h5>Connecting line<span class="text-muted">represents</span></h5>
                  {{radio-button
                      value="numberOfWinningBids"
                      radioId="edgeSizeCount"
                      groupValue=query.edges
                  }}
                  <label class="edge-size-count" for="edgeSizeCount"> Number of contracts </label>
                  <br>
                  {{radio-button
                      value="amountOfMoneyExchanged"
                      radioId="edgeSizeSum"
                      groupValue=query.edges
                  }}
                  <label class="edge-size-sum" for="edgeSizeSum"> Money flow between entities </label>
                </div>
                <div class="qb-rendering-nodes col m5 s12 {{query.edges}}">
                  <!--image-->
                  <!--flow-->
                  <img class="winningBids" height="130" width="240" src="/images/wizard4/edges2.png"/>
                  <!--money-->
                  <img class="moneyExchanged" height="130" width="240" src="/images/wizard4/edges.png"/>
                </div>
              </div>

            </div>
          </div>
        </section>

        <!-- STEP 5: rendering options for nodes and edges -->
        <section class="wizard-step {{optionsStatus}}">
          <div class="row">
            <div class="col m4 s12">
              <h3>Network name (optional)</h3>
              <p>Name this network</p>
            </div>
            <div class="col m8 s12">
              <div class="row">
                <div class="qb-rendering-nodes col m5 s12">
                  {{input type="text" id="networkName" value=name placeholder="Name of the network"}}
                </div>
              </div>
            </div>
          </div>
        </section>

      {{#if isMobile.any}}
        <p class="center">Submit is disabled for mobile devices</p>
      {{else}}
        <div class="wizard-finish center">
          {{md-btn-submit
              action='submitQuery'
              class='btn-large primary'
              text='Visualise!'
              isDisabled=submitIsDisabled
          }}
        </div>
      {{/if}}
      </div>
    </div>
  </div>
</div>
