<div class="container">
  <div class="row">
    {{partial 'partials/network/new'}}
    <div class="col s12 query-form-container">
        <form {{!action "vis.new"}} method="post">
            {{#unless optionsModalIsOpen}}
                <div class="row">
                    <div class="col s1"><span class="query-step circle">1</span></div>
                    <div class="col s4">
                        <h4>Countries of interest</h4>
                        <small>Only procurement from these countries will be visualised</small>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                          {{ember-select-guru
                          value=query.rawCountries
                          options=countries
                          searchKey='text'
                          multiple=true
                          optionComponent='country-option'
                          onSelect=(action "onSelectEvent")}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1"><span class="query-step circle">2</span></div>
                    <div class="col s4">
                        <h4>Year Range</h4>
                        <small>Only procurement in this year range will be visualised</small>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            {{#if years}}
                              {{range-slider
                                range = yearsRange
                                start = yearsStart
                                step=1
                                connect=true
                                tooltips=true
                                disabled=rangeIsDisabled
                                class=(concat rangeDisableClass ' noUi-target noUi-ltr noUi-horizontal noUi-background' )
                                on-slide="slidingAction"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1"><span class="query-step circle">3</span></div>
                    <div class="col s4">
                        <h4>Related Fields</h4>
                        <small>
                            Only procurement marked with this CPV codes will be visualised.
                            <br/><a href="https://simap.ted.europa.eu/cpv" target="_blank">Read more about CPV codes</a>
                        </small>
                    </div>
                    <div class="col s6">
                      {{md-btn text='Add CPV codes'
                      icon='fa fa-plus'
                      action='toggleCpvModal'
                      class='grey darken-3 cpv-modal-open'}}
                      {{loading-cpv}}
                        {{cpv-selector
                          visible=cpvModalIsOpen
                          cpvs=cpvs
                          config=jsTreeConfig
                          height=height
                          selectedCodes=selectedCodes
                          selectedCodesCount=selectedCodesCount
                          query=query
                          action=(action 'toggleCpvModal')
                          jsTree=jsTree
                        }}
                      {{#if selectedCodes}}
                        {{md-btn
                          text='Review'
                          icon='fa fa-edit'
                          action='toggleSelectedCodesModal'
                          class='grey darken-3'
                        }}

                        {{#if selectedCodesModalIsOpen}}
                          <div id="cpv-container" class="mainbg">
                            <br><br>
                            <div class="row-collapse">
                              <div class="col s1">&nbsp;</div>
                                <div class="col s10">
                                  <div class="selected-codes">
                                    <h2>Selected codes: <small>({{selectedCodesCount}} contracts)</small></h2>
                                    <br>
                                    {{#perfect-scroll scrollTop=100 includePadding=true suppressScrollX=true}}
                                      <ul class="selected-cpvs">
                                        {{#each selectedCodes as |selected|}}
                                          {{cpv-selected
                                              cid=selected.id
                                              unique='query'
                                              title=selected.title
                                              selectedCodes=selectedCodes
                                              jsTree=jsTree
                                              name=selected.original.name
                                              doc_count=selected.original.doc_count
                                              count=selected.original.count
                                          }}
                                        {{/each}}
                                        </ul>
                                    {{/perfect-scroll}}
                                  </div>
                              </div>
                            </div>
                            <div class="row-collapse">
                              <div class="col s12">
                                <br> <br> <br>
                                {{#md-btn action="toggleSelectedCodesModal" class="cpv-ok-button"}}
                                    OK
                                {{/md-btn}}
                              </div>
                            </div>
                          </div>
                        {{/if}}
                      {{/if}}
                    </div>
                </div>
                <div class="row">
                  <div class="col s1"><span class="query-step mark">?</span></div>
                  <div class="col s4">
                        <h4 class="orange-text">Unknown Performance</h4>
                        <small>Coming soon...</small>
                      {{!
                      <small>Your query will result in a lot of nodes and edges.
                      The visualisation might run a bit slow.</small>
                      }}
                  </div>
                  <div class="col s6">
                    <span class="center-align col s3">
                        {{!
                        <h2>938742</h2>
                        <small>results</small>
                        }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col s1">
                    {{#if query.countries}}
                        {{#if selectedCodes}}
                            {{md-btn icon='fa fa-arrow-right'
                            action='toggleOptionsModal' buttonType='floating'
                            class='btn-large white grey-text text-darken-4'}}
                        {{else}}
                            {{md-btn icon='fa fa-arrow-right'
                            buttonType='floating'
                            class='btn-large grey grey-text text-darken-1'}}
                        {{/if}}
                    {{else}}
                        {{md-btn icon='fa fa-arrow-right'
                        buttonType='floating'
                        class='btn-large grey grey-text text-darken-1'}}
                    {{/if}}
                  </div>
                  <div class="col s3">
                    {{#if isLoading}}
                        <br>Loading...
                    {{/if}}
                  </div>
                  <div class="col s8"></div>
                </div>
            {{/unless}}
            {{#if optionsModalIsOpen}}
              {{query-options-modal sourceController=this action='submitQuery' query=query}}
            {{/if}}
        </form>
    </div>
  </div>
</div>
