{{!-- Sidebar will stay in the main outlet, everything
  else will stay in sidebar's outlet --}}

<div id="sidebar-toggle" {{action "openSidebar"}}>
  <i class="fa fa-arrow-circle-right"></i>
</div>

<div id="stabilization-info">
    <div class="cssload-loader">stabilizing {{stabilizationPercent}}%</div>
    {{!--<div class="align-center"><b>--}}
        {{!--Stabilizing network: {{stabilizationPercent}}%--}}
    {{!--</b></div>--}}
  {{!--<div class="ember-load-indicator" style="margin-top: 300px;">--}}
    {{!--<div class="demo">--}}
      {{!--<svg class="loader">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#F4F519" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-2">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#DE2FFF" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-3">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#FF5932" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-4">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#E97E42" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-5">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="white" stroke-width="6" stroke-linecap="round" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-6">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#00DCA3" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-7">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="purple" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
      {{!--<svg class="loader loader-8">--}}
        {{!--<circle cx="75" cy="75" r="60" fill="transparent" stroke="#AAEA33" stroke-width="6" stroke-linecap="round" stroke-dasharray="385" stroke-dashoffset="385" filter="url(#blur)"></circle>--}}
      {{!--</svg>--}}
    {{!--</div>--}}
  {{!--</div>--}}
</div>

<div id="network-container" style="height: {{height}}px;">

  {{outlet}}

  {{#if model}}
    {{#if network.selectedNodes}}
      {{#if network.selectedNodes.length}}
        {{#each network.selectedNodes as |node|}}
          {{box-details
              graphElementType='node'
              graphElementId=node
              networkModel=model
              id="box-details-container"
              network=network
              networkService=networkService
          }}
        {{/each}}
      {{/if}}
    {{else}}
      {{#if network.selectedEdges}}
        {{#if network.selectedEdges.length}}
          {{#each network.selectedEdges as |edge|}}
            {{box-details
                graphElementType='edge'
                graphElementId=edge
                networkModel=model
                id="box-details-container"
                network=network
                networkService=networkService
            }}
          {{/each}}
        {{/if}}
      {{/if}}
    {{/if}}
    <div id="network-controls">
      <span class="vis-button" {{action "modalNetworkLink" on="click"}}>
        {{fa-icon "link"}}
      </span>
      <span class="vis-button" {{action "stopPhysics" on="click"}}>
        {{fa-icon 'cogs'}}
      </span>
      <span class="clustering" {{action "showClustering" on="click"}}>
        {{fa-icon 'th-large' size=1}}
      </span>

    </div>
    {{#if networkLinkModal}}
    <div id="modalNetworkLink" >
      <div class="modal-container">
        <span {{action "modalNetworkLink" on="click"}}>
          {{fa-icon 'close' size=1 class="close"}}
        </span>
        <div class="modal-content">
          <div class="input-field col s6">
            <input value="{{networkLink}}" id="network-link"
                   type="text" autofocus onFocus="this.select()" onclick="this.select()" onblur="this.focus()">
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#if networkClusteringModal}}
      {{network-clustering
          action="closeClustering"
          class="clustering"
          nodes=networkService.nodes
          clusters = networkService.clusters
          notifications = notifications
      }}
    {{/if}}

    {{#visjs-network
      options=networkOptions
      nodesSet=networkService.nodes
      edgesSet=networkService.edges
      startStabilizingAction=(action 'startStabilizing')
      stabilizationIterationsDoneAction=(action 'stabilizationIterationsDone')
      stabilizedAction=(action 'stabilized')
      stabilizationProgressAction=(action 'stabilizationProgress')
      storeAs=network
      selectedNodes=selectedNodes
      selectedEdges=selectedEdges
    }}
    {{/visjs-network}}

  {{/if}}
</div>
