{{!-- Sidebar will stay in the main outlet, everything
  else will stay in sidebar's outlet --}}

<div id="sidebar-toggle" {{action "openSidebar"}}>
  <i class="fa fa-arrow-circle-right"></i>
</div>

<section id="legend">
  <div class="loading-bar">
    {{progress-bar percent=stabilizationPercent message="Please wait, the network is being loaded..."}}
  </div>
</section>

<div id="network-container" style="height: {{height}}px;" class="stabilization{{stabilizationPercent}}">

  {{outlet}}

  <div class="crop-fake">
    <div class="go-back-crop" {{action "toggleCrop" on="click"}}>
      {{fa-icon 'crop' size=1}}
    </div>
  </div>

  {{#if model}}
    {{#if network.selectedNodes}}
      {{#if network.selectedNodes.length}}
        {{#each network.selectedNodes as |node|}}
          {{box-details
              graphElementType='node'
              graphElementId=node
              networkModel=model
              id="box-details-container"
              network=network
              networkService=networkService
          }}
        {{/each}}
      {{/if}}
    {{else}}
      {{#if network.selectedEdges}}
        {{#if network.selectedEdges.length}}
          {{#each network.selectedEdges as |edge|}}
            {{box-details
                graphElementType='edge'
                graphElementId=edge
                networkModel=model
                id="box-details-container"
                network=network
                networkService=networkService
            }}
          {{/each}}
        {{/if}}
      {{/if}}
    {{/if}}
    <div id="network-controls">
      <a class="vis-button" {{action "modalNetworkLink" on="click"}}>
        {{fa-icon 'link' size=1}}
        <div class="tooltip"> Get link </div>
      </a>
      <a class="vis-button" {{action "stopPhysics" on="click"}}>
        {{fa-icon 'cogs'}}
        <div class="tooltip"> Stop movement </div>
      </a>
      {{#if session.isAuthenticated}}
      <a class="vis-button" {{action "showClustering" on="click"}}>
        {{fa-icon 'database' size=1}}
        <div class="tooltip"> Merge nodes </div>
      </a>
      {{/if}}
      <a class="vis-button" {{action "toggleCrop" on="click"}}>
        {{fa-icon 'crop' size=1}}
        <div class="tooltip"> Export image </div>
      </a>

      <a class="vis-button" {{action "toggleInfo" on="click"}}>
        {{fa-icon 'paw' size=1}}
      </a>

    </div>
    {{#if networkLinkModal}}
    <div id="modalNetworkLink" >
      <div class="modal-container">
        <span {{action "modalNetworkLink" on="click"}}>
          {{fa-icon 'close' size=1 class="close"}}
        </span>
        <div class="modal-content">
          <div class="input-field col s6">
            <input value="{{networkLink}}" id="network-link"
                   type="text" autofocus onFocus="this.select()" onclick="this.select()" onblur="this.focus()">
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#if networkClusteringModal}}
      {{network-clustering
          action="closeClustering"
          class="clustering"
          networkService = networkService
          notifications = notifications
          networkId = model.id
          me=me
          ajax=ajax
      }}
    {{/if}}
    {{#if networkEmbeddingModal}}
      {{network-embedding
          canvas = visCanvas
          action="closeEmbedding"
          class="embeding"
          networkService = networkService
          notifications = notifications
          networkId = model.id
      }}
    {{/if}}

    {{#visjs-network
      options=networkOptions
      nodesSet=networkService.nodes
      edgesSet=networkService.flaggedEdges
      startStabilizingAction=(action 'startStabilizing')
      stabilizationIterationsDoneAction=(action 'stabilizationIterationsDone')
      stabilizedAction=(action 'stabilized')
      stabilizationProgressAction=(action 'stabilizationProgress')
      storeAs=network
      selectedNodes=selectedNodes
      selectedEdges=selectedEdges
    }}
    {{/visjs-network}}

  {{/if}}

</div>

<div class="crop-controls">
  <div class="modal-container">
    <div class="modal-content">
      <div class="row">
        <span {{action "closeCrop" on="click"}}>
          {{fa-icon 'close' size=1 class="close"}}
        </span>
      </div>


      <div class="row">
        <div class="col s4">
          <small>width</small>
          <div class="small" style="margin-top: 0px !important;">
            {{input type="text" value=cropWidth id="canvasWidth"}}
          </div>
        </div>
        <div class="col s4">
          <small>height</small>
          <div class="small" style="margin-top: 0px !important;">
            {{input type="text" value=cropHeight id="canvasHeight"}}
          </div>
        </div>
        <div class="col s4">
          <a id="downloadLnk" class="btn-small primary" download="YourFileName.png"  >
            Save image
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
