<td class={{row.nodeType}}>
  <span class="circle"> {{fa-icon 'circle' size=1}} </span>
  {{row.name}}
</td>
<td class="contracts">
  {{#if row.contractsCount}}
    {{#each (slice row.contracts 0 1) as |contract|}}
      <div>
          {{#link-to "network.show.details.contract" route nodeId contract.id}}
            {{fa-icon 'file-text' size=1}}
            {{contract.name}}
          {{/link-to}}
      </div>
    {{/each}}
  {{/if}}
  {{#if (gt row.contractsCount 1)}}
    <div class="more-contracts">
      <div class="show-contracts">
        <span class="contracts-count">+{{sub row.contractsCount 1}}</span>
        <span class="show-more">{{fa-icon "ellipsis-h" class="control-icon"}}</span>
      </div>
      <div class="rest-contracts hide">
        {{#each (slice row.contracts 1) as |contract|}}
          <div>
            {{#link-to "network.show.details.contract" route nodeId contract.id}}
              {{fa-icon 'file-text' size=1}}
              {{contract.name}}
            {{/link-to}}
          </div>
        {{/each}}
      </div>
      <div class="hide-contracts hide">
        {{fa-icon 'arrow-circle-up' size=1 class="control-icon"}}
      </div>
    </div>
  {{/if}}
</td>
<td class="income">{{format-amount row.income}}</td>
<td class="bids">{{row.median}}</td>
