<div class="container container-entity relative">
  <div class="row">
    <div class="col s12 title fs1">
      <div class="el-label-dark fs2 procurer">
        {{fa-icon 'circle' size=1}} procurer
      </div>
      <div class="el-title fs5">
        {{modelDetails.name}}
        <span class="fs3 dark-text">( {{modelDetails.firstYear}} - {{modelDetails.lastYear}} )</span>
      </div>
      <hr>
    </div>
  </div>


  <div class="row second-row">
    <div class="col s3">
      {{#each-in modelDetails.flags as |flName flValue|}}
        <div class="flag">
          {{fa-icon 'flag' size=1}} {{flName}} {{fa-icon 'question-circle' size=1}}
        </div>
      {{/each-in}}
    </div>
    <div class="col s3">
      <div class="el-label-dark fs1">total income</div>
      <div class="el-title fs5">{{format-amount modelDetails.total_earnings}}</div>
    </div>
    <div class="col s3">
      <div class="el-label-dark fs1">avg competition</div>
      <div class="el-title fs5">1.7</div>
    </div>
    <div class="col s2 right-align">
      <div class="el-label-dark fs1">data missing</div>
      <div class="el-title fs5">{{modelDetails.missing_values}}%</div>
    </div>
  </div>

  <div class="row">
    {{#tabbed-content active=activeTabProcurer on-change="changeTabProcurer" active-class="tab-button--active" as |procurerTabManager|}}
      <div class="tabs__nav">
        {{#tab-button class="tab-button"  manager=procurerTabManager name="contracts"}}
          <a>contracts ({{modelDetails.contractsCount}})</a>
        {{/tab-button}}
        {{#tab-button class="tab-button"  manager=procurerTabManager name="contractsGraph"}}
          <a>timeline</a>
        {{/tab-button}}
        {{#tab-button class="tab-button"  manager=procurerTabManager name="suppliers"}}
          <a>suppliers ({{modelDetails.nodesCount}})</a>
        {{/tab-button}}
      </div>

      {{#tab-panel manager=procurerTabManager name="contracts" class='tab-panel'}}
        {{details-data-table
            class="contracts"
            content=modelDetails.contracts
            fields=fields.contracts
            partialPath="network/show/details/partials/tables/contracts"
            route="procurers"
            nodeId=params.id
        }}
      {{/tab-panel}}
      {{#tab-panel manager=procurerTabManager name="contractsGraph" class='tab-panel'}}
        <div class="details-graph-container">
          {{#ember-scrollable}}
            {{details-graph
                id="details-graph-id"
                contracts=modelDetails.contracts
                fields=fields.contracts
                partialPath="network/show/details/partials/tables/contracts"
                route="procurers"
                nodeId=params.id
            }}
          {{/ember-scrollable}}
        </div>
      {{/tab-panel}}
      {{#tab-panel manager=procurerTabManager name="suppliers" class='tab-panel'}}
        {{details-data-table
            class="suppliers"
            content=modelDetails.nodes
            fields=fields.suppliers
            partialPath="network/show/details/partials/tables/suppliers-procurers"
            route="procurers"
            nodeId=params.id
        }}
      {{/tab-panel}}
    {{/tabbed-content}}
  </div>


</div>
