<div class="detailview-head">

  <div class="detailview-title">
    <span class="figure-relationship small"></span> Relationship<br>
  </div>

  <div class="close" {{action "closeDetails"}}>
    {{fa-icon 'times-circle'}}
  </div>

</div>

<div class="detailview-body-wrapper">
  {{#ember-scrollable}}

    <div class="detailview-body">

      <h5 class="detailview-restriction">
        Displaying Period: <strong>{{modelDetails.firstYear}} - {{modelDetails.lastYear}}</strong>
      </h5>

      <section>
        <br><br>
        <h5>Actors</h5>
        <div>
          <span class="figure-buyer small"></span>
          {{#link-to "network.show.details.show" "buyers" modelDetails.from}}
            {{modelDetails.fromLabel}}
          {{/link-to}}
        </div>
        <div>
          <span class="figure-bidder small"></span>
          {{#link-to "network.show.details.show" "bidders" modelDetails.to}}
            {{modelDetails.toLabel}}
          {{/link-to}}
        </div>

        {{!--<div class="tags">
          {{#each-in modelDetails.to.flags as |flName flValue|}}
            <span class="tag redflag"><i class="fa fa-flag"></i> {{flName}}</span>
          {{/each-in}}
        </div>--}}
      </section>

      <section class="row">
        <div class="col s4 summary">
          <h5 class="summary-title">Bids awarded</h5>
          <div class="summary-value">{{format-amount modelDetails.numberOfWinningBids}}</div>
        </div>
        <div class="col s4 summary">
          <h5 class="summary-title">All awarded amounts</h5>
          <div class="summary-value">{{format-amount modelDetails.amountOfMoneyExchanged}}</div>
        </div>
        <div class="col s3 summary">
          <h5 class="summary-title">Awarded amount unknown in</h5>
          <div class="summary-value">{{format-amount modelDetails.percentValuesMissing '0,0.0'}} % <small>tenders</small></div>
        </div>
      </section>

      <section>
        <h5>Contracts</h5>
        {{#if (gte modelDetails.pag.totalPages 2)}}
          <div class="contractsPages">
            {{#if (gte modelDetails.pag.page 2)}}
              <a href="#"{{action "page" "back"}}>
                {{fa-icon 'caret-left'}}
              </a>
            {{/if}}

            {{modelDetails.pag.page}} / {{modelDetails.pag.totalPages}}

            {{#if (gt modelDetails.pag.totalPages modelDetails.pag.page)}}
              <a href="#"{{action "page" "next"}}>
                {{fa-icon 'caret-right' }}
              </a>
            {{/if}}
          </div>
        {{/if}}

        {{details-data-table
          class="contracts-table"
          loadingContracts= loadingContracts
          content=modelDetails.contracts
          sort=sort
          fields=fields.contractsRelationship
          partialPath="network/show/details/partials/tables/contracts-relationship"
          route="relationships"
          nodeId=params.id
          componentTable="contracts-relationship"
        }}
      </section>

    </div>
  {{/ember-scrollable}}
</div>

