<div class="detailview-head">

  <div class="detailview-title">
    <span class="figure-bidder small"></span> Bidder Company details<br>
  </div>

  <div class="close" {{action "closeDetails"}}>
    {{fa-icon 'times-circle'}}
  </div>

</div>

<div class="detailview-body-wrapper">
  {{#ember-scrollable}}

    <!-- TODO: replace old variables and hardcoded data by the new backend data:
            https://digiwhist.docs.apiary.io/#reference/0/master-tenders/get-tender

            note that most of variables which are used here are from the old backend or just not working!
            -->

    <div class="detailview-body">

      <h5 class="detailview-restriction">
        Displaying Period: <strong>{{modelDetails.firstYear}} - {{modelDetails.lastYear}}</strong>
      </h5>

      <section class="external-links">
        <a class="btn-small link primary" href="http://opented.eu">view on opentender.eu <i class="fa fa-external-link"></i></a>
      </section>

      <section>
        <h5>Name</h5>
        <h2>{{modelDetails.label}}</h2>

        <div class="tags">
          {{#each modelDetails.countries as |country|}}
            <span class="tag">
              {{world-flag country 16}} {{country}}
            </span>
          {{/each}}

          {{#each-in modelDetails.flags as |flName flValue|}}
            <span class="tag redflag"><i class="fa fa-flag"></i> {{flName}}</span>
          {{/each-in}}

        </div>
      </section>

      <section class="row">
        <div class="col s4 summary">
          <h5 class="summary-title">All awarded amounts</h5>
          <div class="summary-value">{{format-amount modelDetails.amountOfMoneyExchanged}}</div>
        </div>
        <div class="col s4 summary">
          <h5 class="summary-title">Awarded amount unknown in</h5>
          <div class="summary-value">{{format-amount modelDetails.percentValuesMissing '0,0.0'}} % <small>tenders</small></div>
        </div>

        <div class="col s3 summary">
          <h5 class="summary-title">AVG. Competition</h5>
          <div class="summary-value">{{modelDetails.medianCompetition}} <small>bids per tender</small></div>
        </div>
      </section>

      <section>
        <h5>Contracts</h5>
        {{details-data-table
            class="contracts-table"
            content=modelDetails.winningBids
            fields=fields.contracts
            partialPath="network/show/details/partials/tables/contracts-supplier"
            route="bidders"
            nodeId=modelDetails.id
            componentTable="contracts-supplier"
        }}
      </section>

      <section>
        <h5>Contracted government institutions</h5>
        {{#each modelDetails.nodes as |node|}}
          <div>
            <span class="figure-buyer small"></span>
            {{#link-to "network.show.details.show" "buyers" node.nodeID}}{{node.name}}{{/link-to}}
          </div>
        {{/each}}
      </section>

      {{!--<section>
        <h5>Tenders over time</h5>
        <div>
          {{details-graph
            id="details-graph-id"
            contracts=modelDetails.contracts
            fields=fields.contracts
            partialPath="network/show/details/partials/tables/contracts"
            route="suppliers"
            nodeId=params.id

          }}
        </div>
      </section> --}}
    </div>
  {{/ember-scrollable}}
</div>
