<div class="detailview-head">
  <div class="detailview-title">
    <span class="figure-bidder small"></span> Bidder Company details<br>
  </div>

  <div class="close" {{action "closeDetails"}}>
    {{fa-icon 'times-circle'}}
  </div>

</div>

<div class="detailview-body-wrapper">
  {{#ember-scrollable}}

    <!-- TODO: replace old variables and hardcoded data by the new backend data:
            https://digiwhist.docs.apiary.io/#reference/0/master-tenders/get-tender

            note that most of variables which are used here are from the old backend or just not working!
            -->

    <div class="detailview-body">

      <h5 class="detailview-restriction">
        Displaying Period: <strong>{{modelDetails.firstYear}} - {{modelDetails.lastYear}}</strong>
      </h5>

     {{!-- <section class="external-links">
        <a class="btn-small link primary" href="http://opented.eu">view on opentender.eu <i class="fa fa-external-link"></i></a>
      </section>--}}

      <section>
        <h5>Name</h5>
        <h2>{{modelDetails.label}}</h2>

        <div class="tags">
          {{#each modelDetails.countries as |country|}}
            <span class="tag">
              {{world-flag country 16}} {{country}}
            </span>
          {{/each}}

          {{#each-in modelDetails.flags as |flName flValue|}}
            <span class="tag redflag"><i class="fa fa-flag"></i> {{flName}}</span>
          {{/each-in}}

        </div>
      </section>

      <section class="row">
        <div class="col s2 summary">
          <h5 class="summary-title">Bids awarded</h5>
          <div class="summary-value">
            {{#if modelDetails.numberOfWinningBids}}
              {{format-amount modelDetails.numberOfWinningBids}}
            {{else}}
              <span class="unknown-value">
              {{format-amount modelDetails.numberOfWinningBids}}
              {{#tooltip-on-element  event='click' enableLazyRendering=true side='top'}}
                Amount not disclosed in the source data.
                <br>
                <a href="/helloimelvis" target="_blank">Read more</a>
              {{/tooltip-on-element}}
              </span>
            {{/if}}
          </div>
        </div>
        <div class="col s3 summary">
          <h5 class="summary-title">All awarded amounts</h5>
          <div class="summary-value">
            {{#if modelDetails.amountOfMoneyExchanged}}
              {{format-amount modelDetails.amountOfMoneyExchanged}} €
            {{else}}
              <span class="unknown-value">
              {{format-amount modelDetails.amountOfMoneyExchanged}}
              {{#tooltip-on-element event='click' enableLazyRendering=true side='top'}}
                Amount not disclosed in the source data.
                <br>
                <a href="/helloimelvis" target="_blank">Read more</a>
              {{/tooltip-on-element}}
              </span>
            {{/if}}
          </div>
        </div>
        <div class="col s4 summary">
          <h5 class="summary-title">Awarded amount unknown in</h5>
          <div class="summary-value">{{format-amount modelDetails.percentValuesMissing '0,0.0'}} % <small>tenders</small></div>
        </div>

        <div class="col s3 summary">
          <h5 class="summary-title">AVG. Competition</h5>
          <div class="summary-value">
          {{#if modelDetails.medianCompetition}}
            {{modelDetails.medianCompetition}} <small>bids per tender</small>
          {{else}}
            <small>value unknown</small>
          {{/if}}
          </div>
        </div>
      </section>

      <section>
        <div class="contracts-top-table">
          <h5>Contracts</h5>
          {{#if (or (gte modelDetails.pag.totalPages 2) (gte limitPage 10))}}
            <div class="no-contracts">
              <span class="label-no-contracts">
                Displaying
              </span>
              {{md-select content=limitContractsPage
                          value=limitPage
                          optionLabelPath="content.label"
                          optionValuePath="content.value" }}
            </div>
          {{/if}}
          {{#if (gte modelDetails.pag.totalPages 2)}}
            <div class="contractsPages">
              {{#if (gte modelDetails.pag.page 2)}}
                <a href="#"{{action "page" "first"}}>
                  {{fa-icon 'backward' size=1 class="arrow-page-limit"}}
                </a>
                &nbsp;
                <a href="#"{{action "page" "back"}}>
                  {{fa-icon 'caret-left' size=1 class="arrow-page"}}
                </a>
                &nbsp;
              {{/if}}

              {{modelDetails.pag.page}} / {{modelDetails.pag.totalPages}}

              {{#if (gt modelDetails.pag.totalPages modelDetails.pag.page)}}
                &nbsp;
                <a href="#"{{action "page" "next"}}>
                  {{fa-icon 'caret-right' size=1 class="arrow-page"}}
                </a>
                &nbsp;
                <a href="#"{{action "page" "last"}}>
                  {{fa-icon 'forward' size=1 class="arrow-page-limit"}}
                </a>
              {{/if}}
            </div>
          {{/if}}
        </div>

        {{details-data-table
            class="contracts-table"
            loadingContracts= loadingContracts
            content=modelDetails.contracts
            fields=fields.contracts
            sort=sort
            route="bidders"
            nodeId=modelDetails.id
            componentTable="contracts-supplier"
        }}
      </section>

    </div>
  {{/ember-scrollable}}
</div>
