<div id="footer">
  <!-- @NOTE: unless we have newsletter functionality, lets not display it -->
  <div class="section-newsletter hide">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h3>Sign-up for email updates</h3>
        </div>
        <div class="col s6 right-align">
          <div>
            <a href="#" >Sign up for Newsletter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-links-footer">
    <div class="container">
      <div class="row">
        <div class="col s5 logo-footer">
          <img alt="Logo" class="logo" src="/images/elvis-logo-white.png"/>
          <br>
          <span class="dark-text">public spendig visualisation tool</span>
        </div>
        <div class="col s2 footer-links">
          <div> {{link-to 'About' 'static' 'about'}} </div>
          <div> {{#link-to 'static' 'gallery'}} Gallery {{/link-to}} </div>
          <div> <a href="https://talk.tenders.exposed">Community</a> </div>
          <div> <a href="http://v3.sk/~naberacka/social_network_analysis_public_procurement_data_journalism.pdf">Methodology</a> </div>
        </div>
        <div class="col s2 footer-links">
          <div> {{link-to 'Terms and Conditions' 'static' 'terms-conditions'}} </div>
          <div> <a href="https://github.com/tenders-exposed/elvis-ember/blob/develop/LICENSE">Data License</a> </div>
          <div> {{link-to 'Contact' 'static' 'contact'}} </div>
        </div>
        <div class="col s3 footer-links social-links right-align">
          <div class="left-align float-right">
            <div> {{fa-icon "github"}} <a href="https://github.com/tenders-exposed/elvis-ember">Elvis on GitHub</a> </div>
            <div> {{fa-icon "twitter"}}<a href="#">Twitter</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-partners">
    <div class="container">

        <div class="partners">
            <a href="https://www.platform-investico.nl/"><img alt="Investico" src="/images/partners/investico.png"/></a>
            <a href="https://stimuleringsfonds.nl/en/"><img alt="Creative Industries fund" src="/images/partners/creative2.png"/></a>
            <a href="https://www.stdem.org/en/"><img alt="The Democracy and Media Foundation" src="/images/partners/democracy3.png"/></a>
            <a href="https://aanbestedingskalender.nl/"><img alt="Aanbestendigns Kalender" src="/images/partners/aanb4.png"/></a>
            <a href="https://digitalnewsinitiative.com/"><img alt="DIGITAL NEWS INITIATIVE" src="/images/partners/dni.png"/></a>
        </div>
      </div>
  </div>
</div>
