<div class="full-width section-links-footer">
  <div class="container el-title">
    <div class="row">
      <div class="col s4 logo-footer">
        <img alt="Logo" class="logo" src="/images/elvis-logo-light.png"/>
        <br>
        <span class="dark-text">public spendig visualisation tool</span>
      </div>
      <div class="col s2 footer-links">
        <div> {{link-to 'About' 'static' 'about'}} </div>
        <div> {{#link-to 'static' 'gallery'}} Gallery {{/link-to}} </div>
        <div> <a href="https://talk.tenders.exposed">Community</a> </div>
        <div> <a href="http://v3.sk/~naberacka/social_network_analysis_public_procurement_data_journalism.pdf">Methodology</a> </div>
      </div>
      <div class="col s3 footer-links">
        <div> {{link-to 'Terms and Conditions' 'static' 'terms-conditions'}} </div>
        <div> <a href="https://github.com/tenders-exposed/elvis-ember/blob/develop/LICENSE">Data License</a> </div>
        <div> {{link-to 'Contact' 'static' 'contact'}} </div>
      </div>
      <div class="col s3 footer-links social-links right-align">
        <div class="left-align float-right">
          <div> {{fa-icon "github"}} <a href="https://github.com/tenders-exposed/elvis-ember">Elvis on GitHub</a> </div>
          <div> {{fa-icon "twitter"}}<a href="#">Twitter</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>