<div class="details-info-wrapper">
    <div class="absolute close" {{action "closeDetails"}}>
        {{fa-icon 'times-circle' size=3}}
    </div>
    {{#if readyToRender}}
        <div style="height: 100vh">
        {{#ember-scrollable}}
            <div class="container container-entity relative">
                {{#if modelDetails}}
                  {{#if (eq tab 'suppliers')}}
                    {{partial 'network/show/details/partials/supplier'}}
                  {{else if (eq tab 'procurers')}}
                    {{partial 'network/show/details/partials/procurer'}}
                  {{else if (eq tab 'relationships')}}
                    {{partial 'network/show/details/partials/relationship'}}
                  {{else}}
                    {{partial 'network/show/details/partials/null'}}
                  {{/if}}

                {{else}}
                        <div class="row">
                          <div class="col s12 title">
                            {{fa-icon 'times-circle' size=3}}
                          </div>
                        </div>
                {{/if}}
            </div>
        {{/ember-scrollable}}
        </div>

    {{else}}
        {{elvis-loader shouldRender=readyToRender message="Loading.."}}
    {{/if}}
</div>
