<div class="detailview details-info-wrapper">
  {{#if (eq tab 'bidders')}}
    {{partial 'network/show/details/partials/supplier'}}
  {{else if (eq tab 'buyers')}}
    {{partial 'network/show/details/partials/procurer'}}
  {{else if (eq tab 'relationships')}}
    {{partial 'network/show/details/partials/relationship'}}
  {{else}}
    {{partial 'network/show/details/partials/null'}}
  {{/if}}
</div>

