<div class="details-info-wrapper">
  <div class="absolute close" {{action "closeDetails"}}>
    {{fa-icon 'times-circle' size=3}}
  </div>

  {{#if currentlyLoading}}

    <div class="row">
      <div class="col s2"></div>
      <div class="col s6">
        <h2>Loading...</h2>+
      </div>
    </div>

  {{else}}

    {{#if model}}
      {{#if (eq activeTab 'suppliers')}}
        {{partial 'network/show/details/partials/supplier'}}
      {{else if (eq activeTab 'procurers')}}
        {{partial 'network/show/details/partials/procurer'}}
      {{else if (eq activeTab 'relationships')}}
        {{partial 'network/show/details/partials/supplier'}}
      {{else}}
        {{partial 'network/show/details/partials/null'}}
      {{/if}}

  {{else}}
    <div class="container container-entity relative">
      <div class="row">
        <div class="col s12 title">
          No model loaded
        </div>
      </div>
    </div>
  {{/if}}

  {{/if}}
</div>
