<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/g/580/150/technics">
      <div class="caption center-align">
        <h3>Howdy, data journalists</h3>
        <h5 class="light grey-text text-lighten-3">el.vis is an investigative visualisation tool to help you find patterns in public procurement contracts.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div id="login" class="col m6">
      <div class="row">
        <div class="col m10 offset-m2">
          <form class="form-signin">
            <div class="row">

            </div>
            <div class="col s12">
              <h3>Log in to your account</h3>
              <p>el.vis is for registered users only.</p>
            </div>
              <div class="input-field col s12">
                <input type="email" required>
                <label for="inputEmail">Email address</label>
              </div>
              <div class="input-field col s12">
                <input type="password" required>
                <label for="inputPassword">Password</label>
              </div>
              {{#link-to "account.reset"}}Lost password{{/link-to}}
              <p>
                <input type="checkbox" value="remember-me" id="rememberme">
                <label for="rememberme">Remember me</label>
              </p>
              {{#link-to "graph" class="btn btn-lg btn-primary btn-block"}}Sign in{{/link-to}}
          </form>
        </div>
      </div>
    </div>
    <div id="register" class="col m6">
        <div class="col m10 offset-m2">
          <form id="register" class="form-signin" {{action 'register' on='submit'}}>
            <div class="row">
              <div class="col s12">
                <h3>Don't have an account?</h3>
                <p>Create one here. We will send the further instructions to your email. Your data are safe with us.</p>
              </div>
              <div class="input-field col s12">
                <label for="inputEmail" class="sr-only">Email address</label>
                {{input id="inputEmail" value=user.email}}
              </div>
              <div class="input-field col s12">
                <label for="password">Your password here</label>
                {{input type="password" value=user.password}}
              </div>
              <div class="input-field col s12">
                <label for="password_confirmation">...again, please?</label>
                {{input type="password" value=user.password_confirmation}}
              </div>
              <div class="input-field col s12">
                {{input class="btn btn-lg btn-primary btn-block" type="submit" value="Create an account"}}
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

{{outlet}}

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({full_width: true, indicators: false});
  });
</script>
