{{outlet}}
{{#if session.isAuthenticated}}

    <div class="container hide">
        <div class="row">
            <div class="col s12">
              <h4>You're authenticated as {{me.data.email}}</h4>

            </div>
        </div>
    </div>
  </div>
{/if}}

{{outlet}}
<div id="welcome-page">
  <div class="full-width section-begin center-align">
    <div class="container">
      <div class="title el-title">
        Visualisation tool for public spending data has arrived
      </div>
      <div class="content  el-title">
        Yo, let's make public spending great again: once ready, tons of boring,
        dirty public
        <br>spending data shit visualised into a sexy, tidy, filterable node network of your choice.
        <br>
        It's true.Trust me. Fabulous.No mexicans. Wow.
        <br>
        <br>
        It's not finished yet, but if you are adventurous, try it out!
      </div>
      <div class="network-links align-center">
          <a href="#" class="el-title">Use ready-made network</a>
          <a href="#" class="el-title">Create a new network</a>
      </div>
      <div class="node-types">
        <div class="row">
          <div class="col s4 center-align">
            <div class="relative circle-img">
              <span class="absolute circle procurer"> {{fa-icon 'circle' size=2}} </span>
            </div>
            <div class="el-label">
              Procurer Nodes
            </div>
            <div class="description italic grey-text">
              goverment institutions <br> lorem impsum <br> dolor sit amet
            </div>
          </div>
          <div class="col s4 center-align">
            <div class="relative circle-img">
              <span class="absolute circle supplier"> {{fa-icon 'circle' size=2}} </span>
            </div>
            <div class="el-label">Supplier Nodes</div>
            <div class="description italic">
              suspicious companies <br> favorite goverment contractors <br> lorem impsum
            </div>
          </div>
          <div class="col s4 center-align">
            <div class="relative circle-img">
              <span class="absolute circle relationship-line"> <hr/> </span>
              <span class="absolute circle relationship rel1"> {{fa-icon 'circle' size=2}} </span>
              <span class="absolute circle relationship rel2"> {{fa-icon 'circle' size=2}} </span>
            </div>
            <div class="el-label">Relationships</div>
            <div class="description italic">
              money flow <br>  amount of contracts  <br> lorem impsum
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width section-about">
    <div class="container el-title">
        <div class="row">
          <div class="col s12"></div>
            <div class="big-title">
              A tool for revealing corruption
            </div>
            <div class="big-content">
              Use Elvis to visualise public spending in specific EU country, sector and year range. Reveal suspicious relationships between government and companies. Visually answer questions like
              ""Who is dominatig IT market in Netherlands?" or "Which companies earn most money from public spending in Slovakia?"
            </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="title">
              Under development
            </div>
            <div class="content">
              Please be aware this is not a finish product. The core features are still under heavy developement. We are working on it and you are welcome to join us in developement or discuss your ideas.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'smile-o'}}<a href="#">Join the Discourse community</a>
                <br>
                {{fa-icon 'envelope-o'}}<a href="#">Contact us</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="title">
              Free and Open-source
            </div>
            <div class="content">
              Elvis is developed as an open source tool and all code is published on GitHub. We are looking to creare a framework for the community to play with.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'github'}}<a href="#">Elvis on GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="title">
              Data source
            </div>
            <div class="content">
              Currently we are using TED data for all network visualisations. Future plan is to provide custom and other data sources to work with.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'arrow-right'}}<a href="#">About TED data</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="title">
              Based on research
            </div>
            <div class="content">
              It's no mumbo-jumbo. There is an interesting research behind this idea. Learn about Red Flags and how we evaluate the data.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'arrow-right'}}<a href="#">More on Research</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="full-width section-newsletter">
    <div class="container el-title">
      <div class="row">
        <div class="col s6 text-newsletter"> Sign-up for email updates</div>
        <div class="col s6 right-align">
          <a href="#">Sign up for Newsletter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width section-sponsors">
    <div class="container">
      sponsors
    </div>
  </div>
</div>
