{{outlet}}
{{#if session.isAuthenticated}}
    <div class="container hide">
        <div class="row">
            <div class="col s12">
              <h4>You're authenticated as {{me.data.email}}</h4>
            </div>
        </div>
    </div>
{{/if}}

<div id="welcome-page" class="page">
  <div class="container">
    <div class="hero center">
      <h1>
        Visualisation tool for public spending data has arrived
      </h1>
      <p class="flow-text">
        Raw and dirty public spending data visualised into a sexy, tidy, filterable node network. That’s Elvis. He’s not finished yet, but if you are adventurous, try him out!
      </p>
      <br>
      <div>
          <a href="#" class="btn-large transparent hide">Use ready-made network</a>
          {{#link-to 'network.new' class="btn-large primary"}}Create a new network{{/link-to}}
      </div>
      <br>
      <br>
      <div class="node-types">
        <div class="row">
          <div class="col s4 center-align">
            <div class="figure-procurer"></div>
            <h4>
              Procurer Nodes
            </h4>
            <h6>
              goverment institutions <br> lorem impsum <br> dolor sit amet
            </h6>
          </div>
          <div class="col s4 center-align">
            <div class="figure-supplier"></div>
            <h4>Supplier Nodes</h4>
            <h6>
              suspicious companies <br> favorite goverment contractors <br> lorem impsum
            </h6>
          </div>
          <div class="col s4 center-align">
            <div class="figure-relationship"></div>
            <h4>Relationships</h4>
            <h6>
              money flow <br>  amount of contracts  <br> lorem impsum
            </h6>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width section-about">
    <div class="container el-title">
        <div class="row">
          <div class="col s12"></div>
            <div class="big-title">
              A tool for revealing corruption
            </div>
            <div class="big-content">
              Use Elvis to visualise public spending in specific EU country, sector and year range. Reveal suspicious relationships between government and companies. Visually answer questions like
              ""Who is dominatig IT market in Netherlands?" or "Which companies earn most money from public spending in Slovakia?"
            </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="title">
              Under development
            </div>
            <div class="content">
              Please be aware this is not a finish product. The core features are still under heavy developement. We are working on it and you are welcome to join us in developement or discuss your ideas.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'smile-o'}}<a href="https://talk.tenders.exposed">Join the Elvis community</a>
                <br>
                {{fa-icon 'envelope-o'}}<a href="mailto:tech@tenders.exposed">Contact us</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="title">
              Free and Open-source
            </div>
            <div class="content">
              Elvis is developed as an open source tool and all code is published on GitHub. We are looking to creare a framework for the community to play with.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'github'}}<a href="https://github.com/tenders-exposed">Elvis on GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="title">
              Data source
            </div>
            <div class="content">
              Currently we are using TED data for all network visualisations. Future plan is to provide custom and other data sources to work with.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{! {{fa-icon 'arrow-right'}\}<a href="#">About TED data</a> }}
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="title">
              Based on research
            </div>
            <div class="content">
              It's no mumbo-jumbo. There is an interesting research behind this idea. Learn about Red Flags and how we evaluate the data.
            </div>
            <div class="links">
              <div class="link">
                <!--incont-->
                {{fa-icon 'arrow-right'}}<a href="http://v3.sk/~naberacka/social_network_analysis_public_procurement_data_journalism.pdf">Read the thesis</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="full-width section-newsletter">
    <div class="container el-title">
      <div class="row">
        <div class="col s6 text-newsletter"> Sign-up for email updates</div>
        <div class="col s6 right-align">
          <div>
            <a href="#" >Sign up for Newsletter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
